// Table of contents
//
// 1. Typography
// 2. Margins
// 3. Paddings
// 4. Positioning
// 5. Misc

// 1. Typography
// -------------

.h0-size { font-size: 3.25em; }

	@include breakpoint(medium only) {
		.h0-size { font-size: 2.9em; }
	}
	@include breakpoint(small only) {
		.h0-size { font-size: 2.3em; }
	}

.strong { font-weight: bold; }

@include breakpoint(small only) {
	.small-only-text-center { text-align: center; }
}

// 2. Margins
// ----------

.margin-bottom-none		{ margin-bottom: 0 !important; }
.margin-bottom-tiny		{ margin-bottom: 0.25em; }
.margin-bottom-small 	{ margin-bottom: 0.5em; }
.margin-bottom-base		{ margin-bottom: 1rem; }
.margin-bottom-medium 	{ margin-bottom: 1em; }
.margin-bottom-large 	{ margin-bottom: 1.5em }
.margin-bottom-xlarge 	{ margin-bottom: 2.5em; }

.margin-top-none 		{ margin-top: 0 !important; }
.margin-top-tiny 		{ margin-top: 0.25em; }
.margin-top-small 		{ margin-top: 0.5em; }
.margin-top-base 		{ margin-top: 1rem; }
.margin-top-medium 		{ margin-top: 1em; }
.margin-top-large 		{ margin-top: 1.5em }
.margin-top-xlarge 		{ margin-top: 2.5em; }

.margin-left-none 		{ margin-left: 0 !important; }
.margin-left-tiny 		{ margin-left: 0.25em; }
.margin-left-small 		{ margin-left: 0.5em; }
.margin-left-base 		{ margin-left: 1rem; }
.margin-left-medium 	{ margin-left: 1em; }
.margin-left-large 		{ margin-left: 1.5em; }
.margin-left-xlarge 	{ margin-left: 2.5em; }

.margin-right-none 		{ margin-right: 0 !important; }
.margin-right-tiny 		{ margin-right: 0.25em; }
.margin-right-small 	{ margin-right: 0.5em; }
.margin-right-base 		{ margin-right: 1rem; }
.margin-right-medium 	{ margin-right: 1em; }
.margin-right-large 	{ margin-right: 1.5em; }
.margin-right-xlarge 	{ margin-right: 2.5em; }

// 3. Paddings
// -----------

.padding-bottom-none 	{ padding-right: 0 !important; }
.padding-bottom-tiny 	{ padding-bottom: 0.25em; }
.padding-bottom-small 	{ padding-bottom: 0.5em; }
.padding-bottom-base 	{ padding-bottom: 1rem; }
.padding-bottom-medium 	{ padding-bottom: 1em; }
.padding-bottom-large 	{ padding-bottom: 1.5em; }
.padding-bottom-xlarge 	{ padding-bottom: 2.5em; }

.padding-top-none 		{ padding-top: 0 !important; }
.padding-top-tiny 		{ padding-top: 0.25em; }
.padding-top-small 		{ padding-top: 0.5em; }
.padding-top-base 		{ padding-top: 1rem; }
.padding-top-medium 	{ padding-top: 1em; }
.padding-top-large 		{ padding-top: 1.5em; }
.padding-top-xlarge 	{ padding-top: 2.5em; }

.padding-left-none 		{ padding-left: 0 !important; }
.padding-left-tiny 		{ padding-left: 0.25em; }
.padding-left-small 	{ padding-left: 0.5em; }
.padding-left-base 		{ padding-left: 1rem; }
.padding-left-medium 	{ padding-left: 1em; }
.padding-left-large 	{ padding-left: 1.5em; }
.padding-left-xlarge 	{ padding-left: 2.5em; }

.padding-right-none 	{ padding-right: 0 !important; }
.padding-right-tiny 	{ padding-right: 0.25em; }
.padding-right-small 	{ padding-right: 0.5em; }
.padding-right-base 	{ padding-right: 1rem; }
.padding-right-normal 	{ padding-right: 1em; }
.padding-right-large 	{ padding-right: 1.5em; }
.padding-right-xlarge 	{ padding-right: 1.5em; }

.section-padding {
	padding-top: 2.6rem;
	padding-bottom: 2.5rem;
}
	@include breakpoint(medium only) {
		.section-padding {
			padding-top: 1.9rem;
			padding-bottom: 1.75rem;
		}
	}
	@include breakpoint(small only) {
		.section-padding {
			padding-top: 1.25rem;
			padding-bottom: 1rem;
		}
	}

// 4. Positioning
// --------------

.right { float: right; }

.row-absolute {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 1;
}

.floor {
	position: absolute;
	bottom: 1.25rem;
}

.vertical-middle {
	width: 99%;
	height: auto;
	overflow: auto;
	margin: auto;
	top: 50%;
	left: 0;
	bottom: 0;
	right: 0;
	display: table;
	position: relative;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

// 5. Misc
// -------

.black { background-color: $black; }

.semi.black { background-color: rgba(0,0,0,0.75)}

.grey { background-color: $light-gray; }

.clear:before,
.clear:after {
	content: "";
	display: table;
	table-layout: fixed;
	clear: both;
}

.divider {
	border-left: 1px solid #ddd;
	margin-left: 1em;
	margin-right: 1em;
}

.full-height { height: 100%; }

.full-width { width: 100%; }

.semi-transparent {	opacity: 0.6; }

.reveal p .button { margin-bottom: 0; }

@include breakpoint(large up) {
	.large-collapse-right { padding-right: 0 !important; }
	.large-collapse-left { padding-left: 0 !important; }
}