// Table of contents
//
// 1. Typography
// 2. Inverse
// 3. Margins
// 4. Paddings
// 5. Positioning
// 6. Misc

// 1. Typography
// -------------

.h0-size { font-size: 3.25em; }

	@media screen and (max-width: 40.063em) and (min-width: 64em) {
		.h0-size { font-size: 2.9em; }
	}
	@media screen and (max-width: 40em) {
		.h0-size { font-size: 2.3em; }
	}

.bigger { font-size: 1.25em; }

.strong { font-weight: bold; }

@media screen and (max-width: 40em) {
	.small-only-text-center { text-align: center; }
}

// 2. Inverse
// ----------

.inverse { color: white !important; }

.inverse a {
	color: white;
	text-decoration: underline;
}

.inverse a:hover {
	color: white;
	text-decoration: none;
}

.inverse a.button {	text-decoration: none; }

.top-bar.inverse {
	border-color: rgba(255,255,255,0.08);
}

.inverse .top-bar-title .site-description span { border-color: rgba(255,255,255,0.1) }

.inverse .menu > li > a { color: $white; text-decoration: none; }

.inverse .button.hollow {
	border: 1px solid white;
	color: white;
}

// 3. Margins
// ----------

.margin-bottom-none { margin-bottom: 0 !important; }
.margin-bottom-small { margin-bottom: 0.5em; }
.margin-bottom-normal { margin-bottom: 1em; }
.margin-bottom-large { margin-bottom: 1.5em }
.margin-bottom-xlarge { margin-bottom: 2.5em; }

.margin-top-none { margin-top: 0 !important; }
.margin-top-small { margin-top: 0.5em; }
.margin-top-normal { margin-top: 1em; }
.margin-top-large { margin-top: 1.5em }
.margin-top-xlarge { margin-top: 2.5em; }

.margin-left-none { margin-left: 0 !important; }
.margin-left-small { margin-left: 0.5rem; }
.margin-left-normal { margin-left: 1rem; }
.margin-left-large { margin-left: 1.5rem; }

.margin-right-none { margin-right: 0 !important; }
.margin-right-small { margin-right: 0.5rem; }
.margin-right-normal { margin-right: 1rem; }
.margin-right-large { margin-right: 1.5rem; }

// 4. Paddings
// -----------

.padding-bottom-none { padding-right: 0 !important; }
.padding-bottom-small { padding-bottom: 0.5em; }
.padding-bottom-normal { padding-bottom: 1em; }
.padding-bottom-large { padding-bottom: 1.5em; }
.padding-bottom-xlarge { padding-bottom: 2.5em; }

.padding-top-none { padding-top: 0 !important; }
.padding-top-small { padding-top: 0.5em; }
.padding-top-normal { padding-top: 1em; }
.padding-top-large { padding-top: 1.5em; }
.padding-top-xlarge { padding-top: 2.5em; }

.padding-left-none { padding-left: 0 !important; }
.padding-left-small { padding-left: 0.5rem; }
.padding-left-normal { padding-left: 1rem; }
.padding-left-large { padding-left: 1.5rem; }

.padding-right-none { padding-right: 0 !important; }
.padding-right-small { padding-right: 0.5rem; }
.padding-right-normal { padding-right: 1rem; }
.padding-right-large { padding-right: 1.5rem; }

.section-padding {
	padding-top: 2.6rem;
	padding-bottom: 2.5rem;
}
	@media screen and (min-width: 40.063em) and (max-width: 64em) {
		.section-padding {
			padding-top: 1.9rem;
			padding-bottom: 1.75rem;
		}
	}
	@media screen and (max-width: 40em) {
		.section-padding {
			padding-top: 1.25rem;
			padding-bottom: 1rem;
		}
	}

// 5. Positioning
// --------------

.row-absolute {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 1;
}

.floor {
	position: absolute;
	bottom: 1.25rem;
}

.vertical-middle {
	width: 99%;
	height: auto;
	overflow: auto;
	margin: auto;
	top: 49%;
	left: 0;
	bottom: 0;
	right: 0;
	display: table;
	position: relative;
	transform: translateY(-49%);
	-webkit-transform: translateY(-49%);
}

// 6. Misc
// -------

.black { background-color: $black; }

.semi.black { background-color: rgba(0,0,0,0.75)}

.grey { background-color: $light-gray; }

.clear:before,
.clear:after {
	content: "";
	display: table;
	table-layout: fixed;
	clear: both;
}

.divider {
	border-left: 1px solid #ddd;
	margin-left: 1em;
	margin-right: 1em;
}

.full-height { height: 100%; }

.full-width { width: 100%; }

.semi-transparent {	opacity: 0.6; }

.reveal p .button { margin-bottom: 0; }

@media screen and (min-width: 64em) {
	.large-collapse-right { padding-right: 0 !important; }
	.large-collapse-left { padding-left: 0 !important; }
}