/*** TOP BAR ***/

.top-bar {
	border-bottom: 1px solid #ddd;
}

.admin-bar .is-stuck {
	margin-top: 32px !important;
}

.top-bar-title {
	margin-top: -3px;
}

.top-bar-title .site-name a {
	padding-left: 0;
}

.top-bar-right .menu > li > a {
	font-size: 0.8125rem;
	text-transform: uppercase;
}

.top-bar-right .menu > li > a:last-of-type {
	padding-right: 0;
}

.menu-hamburger ul.menu {
	float: right;
}

.menu-hamburger a {
	padding-right: 0 !important;
}

@media screen and (max-width: 40em) {
	.top-bar {
		padding: 0.5rem !important;
	}
}

/*** CONTENT ***/

#content {
	margin-top: 1.25rem;
}

@media screen and (max-width: 40em) {
	#content {
		margin-top: 0.625rem;
	}
}

.byline {
	margin-left: -3px;
}

.nav-links a {
	display: inline-block;
	padding: 0.5rem 1rem 0.75rem;
	color: $primary-color;
	background: none;
	border: 1px solid $primary-color;
	border-radius: $global-radius;
	box-shadow: none;
}

.nav-links a:hover {
	border-color: scale-color($button-background, $lightness: -15%);
}

/*** COMMENTS ***/

#comments {
	margin-top: 2rem;
	padding-top: 1.5rem;
	border-top: 1px solid #ddd;
}

.comment-form-author,
.comment-form-email,
.comment-form-url {
	width: 31.6%;
	margin-right: 2%;
	display: inline-block;
}

.comment-form-url {
	margin-right: 0;
}

ol.comment-list {
	margin-left: 45px;
}

ol.comment-list li {
	list-style: none;
}

ol ol.children {
	margin-left: 45px;
}

.comment img.avatar {
	position: absolute;
	margin-left: -45px;
	margin-top: 7px;
	border-radius: $global-radius;
}

.comment .comment-author {
	display: inline-block;
}

.comment .comment-metadata {
	display: inline-block;
	margin-left: 0.625rem;
	font-size: 0.75em;
}

.comment .edit-link {
	margin-left: 0.3125rem;
	padding-left: 0.5rem;
	border-left: 1px solid #ddd;
}

.comment .reply {
	margin-top: -0.625rem;
	font-size: 0.75em;
}

.comment .comment-body {
	margin-bottom: 0.9375rem;
}

/*** SIDEBAR ***/

.widget {
	margin-bottom: 0.9375rem;
	padding-bottom: 0.625rem;
	border-bottom: 1px solid #ddd;
}

h2.widget-title {
	font-size: 1.5rem;
}

/* SEARCH FORM */

.search-form label {
	width: 65%;
	float: left;
	margin-right: 2%;
}

.search-form .search-submit {
	width: 33%;
	height: 2.4375rem;
	text-transform: uppercase;
}

/*** FOOTER ***/

#footer-wrapper {
	background: $light-gray;
}

/*** BUTTONS ***/

.submit { @include button; }

.search-submit { @include button; font-size: 0.75rem; }

/*** MISC ***/

.divider {
	border-left: 1px solid #ddd;
	margin-left: 0.625rem;
	margin-right: 0.625rem;
}