// Table of contents
// -----------------
// 1. General
	// 1.1. Misc
	// 1.2. Typography
	// 1.3. Posts & comments navigation
	// 1.4. Accessibility
	// 1.5. Alignments
	// 1.6. Media
	// 1.7. Captions
	// 1.8. Galleries
	// 1.9. Forms
	// 1.10. Buttons
// 2. Header
	// 2.1. Top bar
	// 2.2. Top bar title
	// 2.3. Top bar right & left
	// 2.4. Drilldown menu
	// 2.5. Off-canvas
// 3. Content
	// 3.1. Entry
	// 3.2. Cover
	// 3.3. Post formats
	// 3.4. Gutenberg
// 4. Comments
	// 4.1. Misc
	// 4.2. Comment list
	// 4.3. Comment
	// 4.4. Respond
// 5. Widgets
	// 5.1. General
	// 5.2. Search form
	// 5.3. RSS & Recent comments
	// 5.4. Tag cloud
	// 5.5. Calendar
// 6. Footer

// 1. General
// ----------

// 1.1. Misc
// ---------

a {
	@include transition;
}

#page {

	h1, h2, h3, h4, h5, h6 {

		a:hover {
			color: $anchor-color-hover;
		}
	}

	a:hover {

		h1, h2, h3, h4, h5, h6 {
			color: $anchor-color-hover;
		}
	}

	.inverse {
		&,
		h1, h2, h3, h4, h5, h6 {
			color: $white;
		}
	}
}

.inverse {

	a {
		color: $white;
		text-decoration: underline;
		text-decoration-color: rgba($white, 0.5);

		#page &:hover {
			color: rgba($white, 0.75);
			text-decoration: none;
		}
	}

	table thead,
	table tbody,
	table tfoot {
		background: none;
		color: inherit;
	}

	table tbody tr:nth-child(2n) {
		background-color: rgba($white, 0.1);
	}

	cite {
		color: $medium-gray;
	}

	abbr,
	abbr[title] {
		border-color: rgba($white, 0.5);
	}

	.close-button:hover {
		color: scale-color($dark-gray, $lightness: -14%);
	}
}

ul.fa-ul {
	line-height: 1.9;

	.fa-li {
		top: 0.5em;
	}
}

.floor {
	position: absolute;
	bottom: 1.25rem;
}

/* .clear:before,
.clear:after {
	content: "";
	display: table;
	table-layout: fixed;
	clear: both;
}*/

.divider {
	border-left: 1px solid $light-gray;
	margin-left: 1em;
	margin-right: 1em;
}

@include breakpoint(large up) {
	.grid-padding-x .large-collapse-right {
		padding-right: 0 !important;
	}

	.grid-padding-x .large-collapse-left {
		padding-left: 0 !important;
	}
}

// 1.2. Typography
// ---------------

blockquote {

	p:last-child {
		margin-bottom: 0;
	}
}

code {
	border: 0 !important;
	border-radius: $global-radius;
}

pre {
	padding: 0.5em 1em !important;
	background: $light-gray;
	border-radius: $global-radius;
	margin-bottom: 1rem !important;
	overflow: auto;

	code {
		background: none;
		padding: 0;
	}
}

dl dd {
	margin-left: 1em;
	margin-bottom: 0.5em;
}

// 1.3. Posts & comments navigation
// --------------------------------

#post-nav-wrapper {
	background-color: $light-gray;
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;

	@include breakpoint(small only) {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
	}
}

.comment-navigation,
.post-navigation,
.posts-navigation {

	a {
		color: $body-font-color;
	}

	.nav-previous {
		display: inline-block;
		width: 50%;

		a:before {
			font-family: FontAwesome;
			content: '\f104';
			margin-right: 0.5em;
		}
	}

	.nav-next {
		display: inline-block;
		float: right;
		text-align: right;
		width: 50%;

		a:after {
			font-family: FontAwesome;
			content: '\f105';
			margin-left: 0.5em;
		}
	}
}

// 1.4. Accessibility
// ------------------

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.867rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

// 1.5. Alignments
// ---------------

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// 1.6. Media
// ----------

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

embed,
iframe,
object,
video {
	max-width: 100%;
}

audio,
video,
.wp-audio-shortcode,
.wp-video {
	margin-bottom: 1rem;
}

// 1.7. Captions
// -------------

.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;

	img[class*="wp-image-"] {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.wp-caption-text {
		margin: 0.5em 0;
	}
}

.wp-caption-text {
	color: $dark-gray;
}

// 1.8. Galleries
// --------------

.gallery {
	padding-top: 1rem;
	margin-bottom: 1.5rem;
}

.gallery-item {
	margin-bottom: 1rem;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-caption {
	display: block;
}

.gallery-icon {
	margin-bottom: 0.5rem;
}

.gallery-columns-2 .gallery-item { max-width: 50%; }
.gallery-columns-3 .gallery-item { max-width: 33.33%; }
.gallery-columns-4 .gallery-item { max-width: 25%; }
.gallery-columns-5 .gallery-item { max-width: 20%; }
.gallery-columns-6 .gallery-item { max-width: 16.66%; }
.gallery-columns-7 .gallery-item { max-width: 14.28%; }
.gallery-columns-8 .gallery-item { max-width: 12.5%; }
.gallery-columns-9 .gallery-item { max-width: 11.11%; }

// 1.9. Forms
// ----------

fieldset {
	border: $fieldset-border !important;
	padding: 0 1em 1em !important;
	margin: $fieldset-margin !important;
	border-radius: $global-radius;
}

legend {
	margin-top: 0.5em;
	padding: 0 0.5em !important;
	font-weight: bold;
}

select {
	padding-top: 0.35rem !important;
}

form textarea[rows] {
	height: 9rem;
}

.input-wrapper input[type="text"],
.input-wrapper input[type="tel"],
.input-wrapper input[type="email"] {
	padding-left: 35px;
}

.input-wrapper::before {
	font-family: FontAwesome;
	color: $medium-gray;
	position: absolute;
	line-height: 1.25;
	margin-top: 11px;
	margin-left: 12px;
	width: 25px;
	z-index: 1;
}

.input-wrapper.name::before 	{ content: "\f007"; }
.input-wrapper.phone::before 	{ content: "\f095"; }
.input-wrapper.email::before 	{ content: "\f0e0"; }

.wpcf7-not-valid-tip {
	margin-top: -1rem;
	margin-bottom: 0.5rem;
}

div.wpcf7-response-output {
	margin: 0 !important;
	border-radius: $global-radius;
}

div.wpcf7 img.ajax-loader {
	position: absolute;
	margin-top: 0.75em;
}

// 1.10. Buttons
// -------------

input.submit,
input.search-submit,
form input[type="submit"] {
	@include button;
}

.inverse a.button {
	text-decoration: none;
}

.inverse .hollow.button {
	border: 1px solid $white;
	color: $white;

	&:hover {
		border-color: rgba($white, 0.75);
	}
}

.reveal p .button {
	margin-bottom: 0;
}

.menu li.button {
	display: inline-block;
	margin-top: -2px;
	margin-bottom: 0;
	padding: 0 0.5rem;
	border: 0;
	background: none;
	font-size: inherit;

	&:hover {
		background: none;
		color: inherit;
	}

	a {
		@include button;
		padding: $menu-items-padding;
		margin-bottom: 0;
		font-size: inherit;
	}
}

.menu.drilldown li.button {
	padding: 0;

	a {
		display: block;
	}
}

.menu li.hollow.button {
	border: 0;
	color: inherit;

	a {
		background-color: transparent;
		color: $button-background;
		border: 1px solid $button-background;

		&:hover {
			color: $button-background-hover;
			border-color: $button-background-hover;
		}
	}
}

.inverse .menu li.hollow.button a {
	color: $white;
	border-color: $white;

	&:hover {
		color: scale-color($white, $lightness: $button-hollow-hover-lightness);
		border-color: scale-color($white, $lightness: $button-hollow-hover-lightness);
	}
}

// 2. Header
// ---------

// 2.1. Top bar
// ------------

.fixed {
	position: fixed;
	width: 100%;
	z-index: 2;

	@include breakpoint(small only) {
		position: absolute;
	}
}

#masthead {
	z-index: 10;
}

.top-bar {
	border-bottom: 1px solid $light-gray;

	&.inverse {
		border-color: rgba($white, 0.08);
	}

	@include breakpoint(small only) {
		padding: 0.5rem 0 !important;
	}

	&.with-logo .menu > li {
		vertical-align: middle;
	}

	a {
		color: $body-font-color;
	}

	&.inverse a {
		color: $white;

		&:hover {
			color: $medium-gray;
		}
	}

	.dropdown.menu > li.is-dropdown-submenu-parent {
		> a::after {
			border-color: $body-font-color transparent transparent;
		}
		li.opens-left > a::after {
			border-color: transparent $body-font-color transparent transparent;
		}
		li.opens-right > a::after {
			border-color: transparent transparent transparent $body-font-color;
		}
	}
}

.admin-bar .is-stuck {
	margin-top: 32px !important;
}

.inverse .menu > li > a {
	color: $white;
	text-decoration: none;

	#page &:hover {
		color: rgba($white, 0.75);
	}
}

.inverse .menu .active > a {
	color: scale-color($menu-item-color-active, $lightness: 50%);
}

// 2.2. Top bar title
// ------------------

.menu > li.site-logo > a {
	padding: 0;
}

.top-bar-title {

	.site-logo img {
		width: auto;
		height: 35px;
		margin-right: 1rem;

		@include breakpoint(medium up) {
			height: 40px;
		}
	}

	.site-title {
		font-weight: bold;

		h1 {
			margin-bottom: 0;
			font-size: inherit;
		}

		a {
			padding-left: 0;
			padding-right: 0;
			color: $header-color;

			&:hover {
				color: $anchor-color-hover;
			}

			.inverse & {
				color: $white;
			}
		}

		@include breakpoint(small only) {
			img {
				height: 24px;
			}
		}
	}

	.site-description span {
		margin-left: 1em;
		padding-left: 1em;
		border-left: 1px solid $light-gray;
	}

	.inverse & .site-description span {
		border-color: rgba($white, 0.1);
	}
}

// 2.3. Tob bar right & left
// -------------------------

@include breakpoint(medium up) {
	.top-bar-left {
		margin-left: 1.5rem;
	}
}

@include breakpoint(medium up) {
	.top-bar.with-logo .top-bar-left,
	.top-bar.with-logo .top-bar-right {
		margin-top: 2px !important;
	}
}

.top-bar-right .menu.dropdown > li:last-of-type:not(.is-dropdown-submenu-parent) > a {
	padding-right: 0;
}

.inverse .dropdown.menu > li.is-dropdown-submenu-parent > a::after {
	border-color: $white transparent transparent;
}

.top-bar-right .menu.dropdown > li:last-of-type.button {
	padding-right: 0;

		& > a {
		padding-right: 1rem;
	}
}

// 2.4. Drilldown menu
// -------------------

.menu-hamburger ul.menu {
	float: right;
}

.menu-hamburger a {
	padding-right: 0 !important;
}

.is-drilldown {
	margin-top: 0.5rem;
	padding-top: 0.25rem;
	border-top: 1px solid $light-gray;

	.menu > li > a {
		padding: 1rem 0;
	}
}

.is-drilldown-submenu-parent > a::after {
	border-color: transparent transparent transparent $body-font-color !important;

	.inverse & {
		border-color: transparent transparent transparent $white !important;
	}
}

.js-drilldown-back > a::before {
	border-color: transparent $body-font-color transparent transparent !important;

	.inverse & {
		border-color: transparent $white transparent transparent !important;
	}
}

// 2.5. Off-canvas
// ---------------

.off-canvas {
	padding-top: 1rem;

	.admin-bar & {
		padding-top: 3rem;
	}

	.close-button {
		padding: 0 0.25em;

		.admin-bar & {
			top: 3rem;
		}
	}

	.menu {
		margin-left: 1rem;

		li a {
			outline: 0;
		}

		li.button {
			display: inline-block;
			margin: 0.5rem 0;

			a {
				border-radius: $global-radius;
			}
		}
	}
}

// 3. Content
// ----------

// 3.1. Entry
// ----------

#primary {
	margin-top: 2rem;
	margin-bottom: 1rem;
}

#secondary {
	margin-top: 2.5rem;
}

@include breakpoint(small only) {
	#primary {
		margin-top: 0.75rem;
		margin-bottom: 0;
	}

	#secondary {
		margin-top: 0;
		padding-top: 1.5rem;
		border-top: 1px solid $light-gray;
	}
}

#main article {
	margin-bottom: 2rem;
}

.entry-featured-img {
	margin-top: 0.25rem;
	margin-bottom: 1.5rem;

	img {
		width: 100%;
	}
}

.entry-header {
	margin-bottom: 0.75rem;

	.entry-title {
		line-height: 1.25;

		a {
			color: $header-color;
		}
	}

	.entry-meta {
		font-size: $small-font-size;
	}

	@include breakpoint(small only) {
		margin-bottom: 0.5rem;

		.entry-meta {
			margin-bottom: 0;
		}
	}
}

.page-title {
	line-height: 1.25;
	margin-bottom: 1rem;
}

.entry-content {
	h1, h2, h3, h4, h5, h6 {
		margin-top: 2rem;
		margin-bottom: 0.75rem;
	}

	.card {
		h1, h2, h3, h4, h5, h6 {
			margin-top: 0;
		}
	}
}

.entry-meta .item:before,
.entry-footer .item:before,
.edit-link:before {
	margin-right: 0.75em;
	font-family: FontAwesome;
	color: $medium-gray;
}

.posted-on:before		{ content: '\f073'; }
.comments-link:before 	{ content: '\f075'; }
.cat-links:before 		{ content: '\f07c'; }
.tags-links:before 		{ content: '\f292'; }
.edit-link:before 		{ content: '\f040'; }

a.more-link {
	display: inline-block;
	margin-bottom: 1.25rem;
	padding: 0.2em 0.75em 0.35em;
	background-color: $light-gray;
	border-radius: $global-radius;
	color: $body-font-color;
	font-size: $small-font-size;

	&:hover {
		color: $body-font-color;
		background-color: $medium-gray;
	}

	p > & {
		margin-bottom: 0;
	}
}

.entry-footer {
	margin-bottom: 1em;
	font-size: $small-font-size;

	.single & {
		margin-bottom: 0;
	}

	@include breakpoint(small only) {
		.divider {
			display: none !important;
		}

		.item {
			display: block;
			margin-bottom: 0.5em;
		}
	}
}

.entry-meta a,
.entry-footer,
.entry-footer a {
	color: $dark-gray;
}

.entry-meta a:hover,
.entry-footer a:hover {
	color: $anchor-color-hover;
}

.byline {
	margin-left: -3px;
}

.page .entry-footer .divider,
.divider.tags-post-edit {
	display: none;
}

.cat-links + .divider.tags-post-edit,
.tags-links + .divider.tags-post-edit {
	display: inline;
}

.archive .page-title,
.search .page-title {
	margin-bottom: 0.5em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid $light-gray;
}

.sticky.post {
	@include callout;
}

.archive-grid-template {

	.entry-featured-img {
		margin-bottom: 1rem;
	}
}

@include breakpoint(medium up) {
	.post-template-two-columns .entry-content,
	.post-template-two-columns .entry-content,
	.page-template-two-columns .entry-content,
	.page-template-two-columns-cover .entry-content {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		-webkit-column--gap: 60px;
		-moz-column-gap: 60px;
		column-gap: 60px;
	}
}

@include breakpoint(medium only) {
	.post-template-two-columns .entry-content,
	.post-template-two-columns .entry-content,
	.page-template-two-columns .entry-content,
	.page-template-two-columns-cover .entry-content {
		-webkit-column--gap: 30px;
		-moz-column-gap: 30px;
		column-gap: 30px;
	}
}

// 3.2. Cover
// ----------

.cover {
	position: relative;
	margin-bottom: 0.5rem;
	overflow: hidden;
	background: $black;
	background-position: center;
	background-size: cover;
	text-shadow: 0 0 1.5em rgba($black, 0.5);

	&,
	.grid-x {
		height: 500px;

		@include breakpoint(medium only) {
			height: 400px;
		}

		@include breakpoint(small only) {
			height: 280px;
		}
	}

	.filter {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.25);
	}

	.grid-container {
		position: relative;
	}

	.entry-meta {
		color: rgba($white, 0.5);
		margin-bottom: 0;
	}
}

// 3.3. Post formats
// -----------------

@include breakpoint(medium up) {
	.format-aside h1.entry-title,
	.format-aside h2.entry-title {
		font-size: 1.5em;
	}
}

.format-status .entry-title {
	display: none;
}

.format-status .entry-content {
	font-size: 1.5em;
}

.format-chat .entry-format:before 		{ content: '\f086'; }
.format-audio .entry-format:before 		{ content: '\f028'; }
.format-status .entry-format:before 	{ content: '\f21e'; }
.format-gallery .entry-format:before 	{ content: '\f00a'; }
.format-link .entry-format:before 		{ content: '\f0c1'; }
.format-quote .entry-format:before 		{ content: '\f10d'; }
.format-video .entry-format:before 		{ content: '\f008'; }
.format-image .entry-format:before 		{ content: '\f03e'; }
.format-aside .entry-format:before 		{ content: '\f249'; }

// 3.4. Gutenberg
// --------------

blockquote.wp-block-pullquote {
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
	border-left: 0;
	background: none;

	& > p {
		font-family: inherit;
	}
}

.wp-block-separator {
	margin: 2.5em auto;
}

.post-template-gutenberg {

	figure[class^='wp-block-embed'],
	.entry-header,
	.entry-footer,
	.site-info,
	.comments-area,
	.entry-content h1,
	.entry-content h2,
	.entry-content h3,
	.entry-content h4,
	.entry-content h5,
	.entry-content h6,
	.entry-content p,
	.entry-content table,
	.wp-block-image,
	.wp-block-gallery,
	.wp-block-video,
	.wp-block-embed,
	.wp-block-text-columns,
	.entry-content ul,
	.entry-content ol,
	.wp-block-cover-text,
	.wp-block-cover-image {
		max-width: 738px;
		padding-left: 15px;
		padding-right: 15px;
		margin-left: auto;
		margin-right: auto;
	}

	.wp-block-cover-image {
		max-width: 708px;
	}

	.entry-content ul,
	.entry-content ol {
		padding-left: 2.25em;
	}

	.entry-content .alignwide {
		max-width: 1100px;
		margin: 2.5em auto;

		img {
			width: 100%;
		}

		&.wp-block-cover-image {
			max-width: 1070px;
		}
	}

	.entry-content .alignfull {
		max-width: 100%;
		padding-left: 0;
		padding-right: 0;

		img {
			width: 100%;
		}
	}

	@include breakpoint(small only) {
		.wp-block-image.alignwide {
			padding-left: 0;
			padding-right: 0;
		}
	}

	blockquote,
	.entry-content pre {
		max-width: 708px;
		margin-left: auto;
		margin-right: auto;

		@include breakpoint(small only) {
			margin-left: 15px;
			margin-right: 15px;
		}
	}

	.entry-content blockquote p,
	.entry-content .wp-block-embed p {
		padding-left: 0;
		padding-right: 0;
	}

	.wp-block-button {
		margin: 1.5em auto;
	}

	figure[class^='wp-block-embed'] {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
	}
}

.wp-block-image,
.wp-block-cover-image {
	margin-bottom: 1.5rem;
}

.entry-content ul.wp-block-gallery {
	padding-left: 0;
}

.wp-block-quote.blocks-quote-style-2 {
	padding: $blockquote-padding;
}

.entry-content .wp-block-cover-image {
	h1, h2, h3, h4, h5, h6 {
		margin-top: 0;
	}
}

.wp-block-embed.type-video > .wp-block-embed__wrapper {
	position: relative;
	width: 100%;
	height: 0;
	padding-top: 56.25%;
}

.wp-block-embed.type-video > .wp-block-embed__wrapper > iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

// 4. Comments
// -----------

#comments {
	margin-top: 1rem;

	// 4.1. Misc
	// ---------

	.comments-title,
	#respond {
		padding-top: 1em;
		border-top: 1px solid $light-gray;
	}

	.comments-title {
		margin-bottom: 0.75em;
	}

	// 4.2. Comment list
	// -----------------

	ol.comment-list {
		margin-left: 64px;
		margin-bottom: 2.5em;

		li {
			list-style: none;
		}
	}

	ol ol.children {
		margin-left: 48px;

		ol.children {
			margin-left: 0;
		}

		img.avatar {
			width: 32px;
			height: 32px;
			margin-left: -48px !important;
		}
	}

	// 4.3. Comment
	// ------------

	.comment {

		.bypostauthor {
			display: block;
		}

		.comment-body {
			margin-bottom: 1.5rem;

			.comment-author {
				display: inline-block;
				color: $dark-gray;

				a.url {
					color: $body-font-color;

					&:hover {
						color: $anchor-color-hover;
					}
				}

				img.avatar {
					position: absolute;
					margin-top: 7px;
					margin-left: -64px;
					border-radius: 50%;
				}
			}

			.comment-metadata {
				display: inline-block;
				margin-left: 0.25em;
				font-size: $small-font-size;
			}

			.comment-content a {
				word-wrap: break-word;
			}

			.reply {
				margin-top: -1em;
				font-size: $small-font-size;
			}

			.comment-metadata a,
			.reply a {
				color: $dark-gray;

				&:hover {
					color: $anchor-color-hover;
				}
			}

			.edit-link {
				margin-left: 0.5em;
				padding-left: 0.75em;
				border-left: 1px solid $light-gray;
			}
		}
	}

	// 4.4. Respond
	// ------------

	#respond {
		margin-bottom: 1.5rem;

		.comment-form {
			max-width: 800px;

			.form-submit {
				clear: left;
			}
		}

		@include breakpoint(medium up) {
			.comment-form-author,
			.comment-form-email,
			.comment-form-url {
				width: 32.2%;
				margin-right: 1.5%;
				float: left;
			}
		}

		.comment-form-url {
			margin-right: 0;
		}
	}
}

// 5. Widgets
// ----------

// 5.1. General
// ------------

.widget {
	margin-bottom: 2rem;

	ul {
		list-style-type: none;
		margin-left: 0;

		ul {
			margin-top: 0.5em;
			padding-left: 1rem;
		}

		li {
			margin-bottom: 0.5em;
			padding-bottom: 0.5em;
			border-bottom: 1px solid $light-gray;

			.inverse & {
				border-color: rgba($white, 0.25);
			}

			li {
				padding-top: 0.5em;
				padding-bottom: 0;
				border-top: 1px solid $light-gray;
				border-bottom: 0;

				&:last-of-type {
					margin-bottom: 0;
				}
			}

			a {
				color: $body-font-color;

				&:hover {
					color: $anchor-color-hover;
				}

				.inverse & {
					color: $white;
					text-decoration: none;
					text-decoration-color: $dark-gray;

					&:hover {
						color: rgba($white, 0.75);
					}
				}
			}
		}
	}

	.menu > li {
		display: list-item;

		> a {
			padding: 0;
			line-height: inherit;
		}
	}
}

h2.widget-title {
	margin-bottom: 1em;
	font-weight: normal;

	@include breakpoint(medium up) {
		font-size: 1.25rem;
	}
}

// 5.2. Search form
// ----------------

.widget .search-form label,
.widget .woocommerce-product-search input[type="search"],
.widget input#bbp_search,
#buddypress input#messages_search {
	width: 65%;
	float: left;
	margin-right: 2%;
}

.widget .search-form .search-submit,
.widget .woocommerce-product-search input[type="submit"],
.widget input#bbp_search_submit,
#buddypress input#messages_search_submit {
	width: 33%;
	height: 39px;
	padding-top: 0;
	padding-bottom: 0;
}

// 5.3. RSS & Recent comments
// --------------------------

.rss-widget-icon {
	margin-right: 0.25rem;
}

.widget.widget_rss ul li a,
.widget_recent_comments ul li a {
	color: $anchor-color;

	&:hover {
		color: $anchor-color-hover;
	}
}

.inverse .widget.widget_rss ul li a,
.inverse .widget_recent_comments ul li a {
	color: $white;
	text-decoration: underline;
	text-decoration-color: rgba($white, 0.5);

	&:hover {
		text-decoration: none;
	}
}

.rss-date {
	opacity: 0.75;
	font-size: 0.867rem;
}

.rssSummary {
	font-size: 0.867rem;
}

// 5.4. Tag cloud
// --------------

.tagcloud a {
	color: inherit;

	.inverse & {
		text-decoration: none;
		text-decoration-color: rgba($white, 0.5);
	}
}

// 5.5. Calendar
// -------------

#wp-calendar thead th,
#wp-calendar tbody {
	text-align: center;
}

table tfoot td#next {
	text-align: right;
}

// 6. Footer
// ---------

#footer-wrapper {
	background: $black;
}

#footer-widgets {
	padding-top: 3rem;
	background-color: scale-color($black, $lightness: 5%);

	.menu li {
		display: block;
	}
}

#colophon {
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;

	@include breakpoint(small only) {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
	}

	.grid-container {
		opacity: 0.6;

		@include breakpoint(small only) {
			.cell {
				margin-top: 0.5rem;
				margin-bottom: 0.5rem;
			}
		}
	}
}

#up {
	display: none;
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	text-align: center;
	background: rgba($black, 0.5);
	color: $white;
	border-radius: $global-radius;
	z-index: 10;

	&:hover {
		background-color: rgba($black, 0.75);
	}

	a {
		display: block;
		padding: 0.25rem 0.8rem 0.5rem;
		color: $white;
	}
}
