/* MARGINS */

.margin-bottom-half { margin-bottom: 0.3125rem; }
.margin-bottom-normal { margin-bottom: 0.625rem; }
.margin-bottom-bigger { margin-bottom: 0.9375rem; }
.margin-bottom-double { margin-bottom: 1.25rem; }
.margin-bottom-triple { margin-bottom: 1.875rem }
.margin-bottom-large { margin-bottom: 2.5rem; }

.margin-top-half { margin-top: 0.3125rem; }
.margin-top-normal { margin-top: 0.625rem; }
.margin-top-bigger { margin-top: 0.9375rem; }
.margin-top-double { margin-top: 1.25rem; }
.margin-top-triple { margin-top: 1.875rem }
.margin-top-large { margin-top: 2.5rem; }

.margin-left-half { margin-left: 0.3125rem; }
.margin-left-normal { margin-left: 0.625rem; }
.margin-left-bigger { margin-left: 0.9375rem; }
.margin-left-double { margin-left: 1.25rem; }
.margin-left-triple { margin-left: 1.875rem; }

.margin-right-half { margin-right: 0.3125rem; }
.margin-right-normal { margin-right: 0.625rem; }
.margin-right-bigger { margin-right: 0.9375rem; }
.margin-right-double { margin-right: 1.25rem; }
.margin-right-triple { margin-right: 1.875rem; }

/* PADDINGS */

.padding-bottom-half { padding-bottom: 0.3125rem; }
.padding-bottom-normal { padding-bottom: 0.625rem; }
.padding-bottom-bigger { padding-bottom: 0.9375rem; }
.padding-bottom-double { padding-bottom: 1.25rem; }
.padding-bottom-triple { padding-bottom: 1.875rem; }
.padding-bottom-large { padding-bottom: 2.5rem; }

.padding-top-half { padding-top: 0.3125rem; }
.padding-top-normal { padding-top: 0.625rem; }
.padding-top-bigger { padding-top: 0.9375rem; }
.padding-top-double { padding-top: 1.25rem; }
.padding-top-triple { padding-top: 1.875rem; }
.padding-top-large { padding-top: 2.5rem; }

.padding-left-half { padding-left: 0.3125rem; }
.padding-left-normal { padding-left: 0.625rem; }
.padding-left-bigger { padding-left: 0.9375rem; }
.padding-left-double { padding-left: 1.25rem; }
.padding-left-triple { padding-left: 1.875rem }

.padding-right-half { padding-right: 0.3125rem; }
.padding-right-normal { padding-right: 0.625rem; }
.padding-right-bigger { padding-right: 0.9375rem; }
.padding-right-double { padding-right: 1.25rem; }
.padding-right-triple { padding-right: 1.875rem }