@mixin transition {
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}

@mixin linear-gradient($deg, $from, $to) {
	/* Mozilla Firefox */
	background-image: -moz-linear-gradient($deg + deg, $from, $to);
	/* Opera */
	background-image: -o-linear-gradient($deg + deg, $from, $to);
	/* WebKit (Chrome 11+) */
	background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, $from), color-stop(1, $to));
	/* WebKit (Safari 5.1+, Chrome 10+) */
	background-image: -webkit-linear-gradient($deg + deg, $from, $to);
	/* IE10 */
	background-image: -ms-linear-gradient($deg + deg, $from, $to);
	/* W3C */
	background-image: linear-gradient($deg + deg, $from, $to);
}

@mixin section-padding {
	padding-top: 2.6rem;
	padding-bottom: 2.5rem;

	@include breakpoint(medium only) {
		padding-top: 1.9rem;
		padding-bottom: 1.75rem;
	}

	@include breakpoint(small only) {
		padding-top: 1.25rem;
		padding-bottom: 1rem;
	}
}
