/*** POSTS & COMMENTS NAVIGATION ***/

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.25em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*** ACCESSIBILITY ***/

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus { outline: 0; }

/*** ALIGNMENTS ***/

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*** INFINITE SCROLL ***/

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer { display: block; }

/*** MEDIA ***/

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object { max-width: 100%; }

/*** CAPTIONS ***/

.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text { margin: 0.8075em 0; }

.wp-caption-text { text-align: center; }

/*** GALLERIES ***/

.gallery { margin-bottom: 1.5em; }

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item { max-width: 50%; }
.gallery-columns-3 .gallery-item { max-width: 33.33%; }
.gallery-columns-4 .gallery-item { max-width: 25%; }
.gallery-columns-5 .gallery-item { max-width: 20%; }
.gallery-columns-6 .gallery-item { max-width: 16.66%; }
.gallery-columns-7 .gallery-item { max-width: 14.28%; }
.gallery-columns-8 .gallery-item { max-width: 12.5%; }
.gallery-columns-9 .gallery-item { max-width: 11.11%; }

.gallery-caption { display: block; }

/*** TOP BAR ***/

.fixed {
	position: fixed;
	width: 100%;
	z-index: 2;
}

@media screen and (max-width: 40em) {
	.fixed { position: absolute; }
}

header#masthead { z-index: 2; }

.top-bar {
	border-bottom: 1px solid #ddd;
	transition: 1s;
}

.admin-bar .is-stuck { margin-top: 32px !important; }

.top-bar-title .site-name h1 {
	margin-bottom: 0;
	font-size: inherit;
	line-height: 1;
}

.top-bar-title .site-name a { padding: 0.5rem 0; }

.top-bar-title .site-name img {
	height: 41px;
	width: auto;
}

.top-bar-title .site-name span {
	margin-left: 0.625rem;
	font-size: 1.5em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

@media screen and (max-width: 40em) {
	.top-bar-title .site-name a { padding: 0.625rem 0; }
	.top-bar-title .site-name img {	height: 24px; }
	.top-bar-title .site-name span { margin-left: 0.3125rem; }
}

.top-bar-title .site-description span {
	margin-left: 1.125rem;
	padding-left: 1.125rem;
	border-left: 1px solid #ddd;
}

.top-bar-right .menu > li > a {
	font-size: 0.8125rem;
	text-transform: uppercase;
}

.top-bar-right .menu > li > a:last-of-type { padding-right: 0; }

.top-bar .button { margin-bottom: 0; }

.menu-hamburger ul.menu { float: right; }

.menu-hamburger a {	padding-right: 0 !important; }

.is-drilldown {	border-top: 1px solid #ddd; }

.is-drilldown .menu > li > a { padding: 1rem 0; }

@media screen and (max-width: 40em) {
	.top-bar { padding: 0.5rem 0 !important; }
}

.site-name h1 { font-weight: 300; }

/*** ABOUT ***/

#about p { font-size: 1.125em; }

/*** FORMS ***/

form textarea[rows] { height: 8rem; }

.input-wrapper input[type="text"],
.input-wrapper input[type="tel"],
.input-wrapper input[type="email"] { padding-left: 40px; }

.input-wrapper::before {
	font-family: FontAwesome;
	color: $medium-gray;
	position: absolute;
	line-height: 1.25;
	margin-top: 9px;
	margin-left: 12px;
	width: 25px;
	z-index: 1;
}

.input-wrapper.name::before { content: "\f007"; }
.input-wrapper.phone::before { content: "\f095"; }
.input-wrapper.email::before { content: "\f0e0"; }

.form-wrapper.semi input[type="text"],
.form-wrapper.semi input[type="tel"],
.form-wrapper.semi input[type="email"],
.form-wrapper.semi textarea { background-color: rgba(255,255,255,0.75); }

.form-wrapper.semi .input-wrapper::before { color: #888; }

.wpcf7-not-valid-tip {
	margin-top: -1rem;
	margin-bottom: 0.5rem;
}

div.wpcf7-response-output {
	margin: 0 !important;
	border-radius: $global-radius;
}

div.wpcf7 img.ajax-loader {
	position: absolute;
	margin-top: 0.75em;
}

/*** CONTENT ***/

#primary { margin-top: 1.25rem; }

#secondary { margin-top: 1.5rem; }

@media screen and (max-width: 40em) {
	#primary,
	#secondary { margin-top: 0.625rem; }
	
	.entry-meta,
	.entry-footer { font-size: 0.875em; }
}

.byline { margin-left: -3px; }

.nav-links a {
	display: inline-block;
	padding: 0.5rem 1rem 0.75rem;
	color: $primary-color;
	background: none;
	border: 1px solid $primary-color;
	border-radius: $global-radius;
	box-shadow: none;
	font-size: 0.875rem;
}

.nav-links a:hover {
	border-color: scale-color($button-background, $lightness: -15%);
}

/* COVER */

#cover {
	position: relative;
	height: 400px;
	overflow: hidden;
	background: $black;
	background-position: center;
	background-size: cover;
	text-shadow: 0 0 1.5rem black;
}

#cover .column { height: 400px; }

#cover .filter {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.25);
}

@media screen and (min-width: 40.063em) and (max-width: 64em) {
	#cover,
	#cover .column { height: 325px; }
}

@media screen and (max-width: 40em) {
	#cover,
	#cover .column { height: 250px;	}
}

/*** COMMENTS ***/

.comment-content a { word-wrap: break-word; }

.bypostauthor {	display: block; }

#comments {
	margin-top: 2rem;
	padding-top: 1.5rem;
	border-top: 1px solid #ddd;
}

@media screen and (min-width: 40.063em) {
	.comment-form-author,
	.comment-form-email,
	.comment-form-url {
		width: 31.5%;
		margin-right: 2%;
		display: inline-block;
	}
}

.comment-form-url {	margin-right: 0; }

ol.comment-list { margin-left: 45px; }

ol.comment-list li { list-style: none; }

ol ol.children { margin-left: 45px; }

.comment img.avatar {
	position: absolute;
	margin-left: -45px;
	margin-top: 7px;
	border-radius: $global-radius;
}

.comment .comment-author { display: inline-block; }

.comment .comment-metadata {
	display: inline-block;
	margin-left: 0.625rem;
	font-size: 0.75em;
}

.comment .edit-link {
	margin-left: 0.3125rem;
	padding-left: 0.5rem;
	border-left: 1px solid #ddd;
}

.comment .reply {
	margin-top: -0.625rem;
	font-size: 0.75em;
}

.comment .comment-body { margin-bottom: 0.9375rem; }

/*** SIDEBAR ***/

.widget {
	margin-bottom: 0.9375rem;
	padding-bottom: 0.625rem;
	border-bottom: 1px solid #ddd;
}

@media screen and (min-width: 40.063em) {
	h2.widget-title { font-size: 1.5rem; }
}

/* SEARCH FORM */

.search-form label {
	width: 65%;
	float: left;
	margin-right: 2%;
}

.search-form .search-submit {
	width: 33%;
	height: 2.4375rem;
	text-transform: uppercase;
}

/*** FOOTER ***/

#footer-wrapper {
	background: $light-gray;
}

/*** BUTTONS ***/

.submit { @include button; }

.search-submit { @include button; font-size: 0.75rem; }

/*** MISC ***/

@media screen and (max-width: 40em) {
	h2.margin-bottom-double { margin-bottom: 0.625rem; }
}