// Table of contents
// -----------------
// 1. General
	// 1.1. Misc
	// 1.2. Typography
	// 1.3. Posts & comments navigation
	// 1.4. Accessibility
	// 1.5. Alignments
	// 1.6. Media
	// 1.7. Captions
	// 1.8. Galleries
	// 1.9. Forms
	// 1.10. Buttons
// 2. Header
	// 2.1. Misc
	// 2.2. Top stripe
	// 2.3. Top bar title
	// 2.4. Top bar right & left
	// 2.5. Responsive menu
// 3. Content
	// 3.1. Entry
	// 3.2. Cover
	// 3.3. Post formats
// 4. Comments
	// 4.1. Misc
	// 4.2. Comment list
	// 4.3. Comment
	// 4.4. Respond
// 5. Widgets
	// 5.1. General
	// 5.2. Search form
	// 5.3. RSS & Recent comments
	// 5.4. Tag cloud
	// 5.5. Calendar
// 6. Footer

// 1. General
// ----------

// 1.1. Misc
// ---------

a {
	@include transition;
}

.inverse {
	color: $white !important;

	a {
		color: $white;
		text-decoration: underline;
		text-decoration-color: rgba($white, 0.5);

		&:hover {
			color: rgba($white, 0.75);
			text-decoration: none;
		}

	}

	table thead,
	table tbody,
	table tfoot {
		background: none;
		color: inherit;
		border-color: rgba($white, 0.1);
	}

	table tbody tr:nth-child(2n) {
		background-color: rgba($white, 0.1);
	}

	cite {
		color: $medium-gray;
	}

	abbr,
	abbr[title] {
		border-color: rgba($white, 0.5);
	}
}

ul.fa-ul {
	line-height: 1.9;
}

ul .fa-li {
	top: $small-space;
}

.row-absolute {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 1;
}

.floor {
	position: absolute;
	bottom: 1.25rem;
}

.clear:before,
.clear:after {
	content: "";
	display: table;
	table-layout: fixed;
	clear: both;
}

.divider {
	border-left: 1px solid $light-gray;
	margin-left: $medium-space;
	margin-right: $medium-space;
}

@include breakpoint(large up) {
	.large-collapse-right {
		padding-right: 0 !important;
	}
	
	.large-collapse-left {
		padding-left: 0 !important;
	}
}

// 1.2. Typography
// ---------------

.h1 {
	font-size: map-deep-get($header-styles, large, h1, font-size) * 1px;

	@include breakpoint(medium only) {
		font-size: map-deep-get($header-styles, medium, h1, font-size) * 1px;
	}

	@include breakpoint(small only) {
		font-size: map-deep-get($header-styles, small, h1, font-size) * 1px;
	}
}

.h2 {
	font-size: map-deep-get($header-styles, large, h2, font-size) * 1px;

	@include breakpoint(medium only) {
		font-size: map-deep-get($header-styles, medium, h2, font-size) * 1px;
	}

	@include breakpoint(small only) {
		font-size: map-deep-get($header-styles, small, h2, font-size) * 1px;
	}
}

.h3 {
	font-size: map-deep-get($header-styles, large, h3, font-size) * 1px;

	@include breakpoint(medium only) {
		font-size: map-deep-get($header-styles, medium, h3, font-size) * 1px;
	}

	@include breakpoint(small only) {
		font-size: map-deep-get($header-styles, small, h3, font-size) * 1px;
	}
}

.h4 {
	font-size: map-deep-get($header-styles, large, h4, font-size) * 1px;

	@include breakpoint(medium only) {
		font-size: map-deep-get($header-styles, medium, h4, font-size) * 1px;
	}

	@include breakpoint(small only) {
		font-size: map-deep-get($header-styles, small, h4, font-size) * 1px;
	}
}

.h5 {
	font-size: map-deep-get($header-styles, large, h5, font-size) * 1px;

	@include breakpoint(medium only) {
		font-size: map-deep-get($header-styles, medium, h5, font-size) * 1px;
	}

	@include breakpoint(small only) {
		font-size: map-deep-get($header-styles, small, h5, font-size) * 1px;
	}
}

.h6 {
	font-size: map-deep-get($header-styles, large, h6, font-size) * 1px;

	@include breakpoint(medium only) {
		font-size: map-deep-get($header-styles, medium, h6, font-size) * 1px;
	}

	@include breakpoint(small only) {
		font-size: map-deep-get($header-styles, small, h6, font-size) * 1px;
	}
}

table th {
	text-align: left;
}

blockquote {
	background-color: $light-gray;

	p:last-of-type {
		margin-bottom: 0;
	}
}

code {
	border: 0 !important;
	border-radius: $global-radius;
}

pre {
	padding: $small-space $medium-space !important;
	background: $light-gray;
	border-radius: $global-radius;
	margin-bottom: $base-space !important;
	overflow: auto;

	code {
		background: none;
		padding: 0;
	}
}

dl dd {
	margin-left: $medium-space;
	margin-bottom: $small-space;
}

// 1.3. Posts & comments navigation
// --------------------------------

#post-nav-wrapper {
	background-color: $light-gray;
	@include section-padding;
}

.comment-navigation,
.post-navigation,
.posts-navigation {

	a {
		color: $body-font-color;
	}

	.nav-previous {
		display: inline-block;
		width: 50%;
	}

	.nav-next {
		display: inline-block;
		float: right;
		text-align: right;
		width: 50%;
	}
}

.nav-previous a:before {
	font-family: FontAwesome;
	content: '\f104';
	margin-right: $small-space;
}

.nav-next a:after {
	font-family: FontAwesome;
	content: '\f105';
	margin-left: $small-space;
}

// 1.4. Accessibility
// ------------------

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.867rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

// 1.5. Alignments
// ---------------

.alignleft {
	display: inline;
	float: left;
	margin-right: $large-space;
}

.alignright {
	display: inline;
	float: right;
	margin-left: $large-space;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// 1.6. Media
// ----------

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

embed,
iframe,
object { max-width: 100%; }

audio,
video,
.wp-audio-shortcode,
.wp-video {
	margin-bottom: $base-space;
}

// 1.7. Captions
// -------------

.wp-caption {
	margin-bottom: $large-space;
	max-width: 100%;

	img[class*="wp-image-"] {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.wp-caption-text {
		margin: $base-space 0;
	}
}

.wp-caption-text {
	color: $dark-gray;
}

// 1.8. Galleries
// --------------

.gallery {
	padding-top: $base-space;
	margin-bottom: $large-space;
}

.gallery-item {
	margin-bottom: $base-space;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-caption {
	display: block;
}

.gallery-icon {
	margin-bottom: $small-space;
}

.gallery-columns-2 .gallery-item { max-width: 50%; }
.gallery-columns-3 .gallery-item { max-width: 33.33%; }
.gallery-columns-4 .gallery-item { max-width: 25%; }
.gallery-columns-5 .gallery-item { max-width: 20%; }
.gallery-columns-6 .gallery-item { max-width: 16.66%; }
.gallery-columns-7 .gallery-item { max-width: 14.28%; }
.gallery-columns-8 .gallery-item { max-width: 12.5%; }
.gallery-columns-9 .gallery-item { max-width: 11.11%; }

// 1.9. Forms
// ----------

fieldset {
	border: $fieldset-border !important;
	padding: 0 $medium-space $medium-space !important;
	margin: $fieldset-margin !important;
	border-radius: $global-radius;
}

legend {
	margin-top: $small-space;
	padding: 0 $small-space !important;
	font-weight: bold;
}

select {
	padding-top: 0.35rem !important;
}

form textarea[rows] {
	height: 9rem;
}

.input-wrapper input[type="text"],
.input-wrapper input[type="tel"],
.input-wrapper input[type="email"] {
	padding-left: 35px;
}

.input-wrapper::before {
	font-family: FontAwesome;
	color: $medium-gray;
	position: absolute;
	line-height: 1.25;
	margin-top: 11px;
	margin-left: 12px;
	width: 25px;
	z-index: 1;
}

.input-wrapper.name::before 	{ content: "\f007"; }
.input-wrapper.phone::before 	{ content: "\f095"; }
.input-wrapper.email::before 	{ content: "\f0e0"; }

.wpcf7-not-valid-tip {
	margin-top: -1rem;
	margin-bottom: $small-space;
}

div.wpcf7-response-output {
	margin: 0 !important;
	border-radius: $global-radius;
}

div.wpcf7 img.ajax-loader {
	position: absolute;
	margin-top: 0.75em;
}

// 1.10. Buttons
// -------------

.submit,
.search-submit,
form input[type="submit"] {
	@include button;
}

.inverse a.button {
	text-decoration: none;
}

.inverse .button.hollow {
	border: 1px solid $white;
	color: $white;

	&:hover {
		opacity: 0.75;
	}
}

.reveal p .button {
	margin-bottom: 0;
}

// 2. Header
// ---------

// 2.1. Misc
// ---------

.fixed {
	position: fixed;
	width: 100%;
	z-index: 2;

	@include breakpoint(small only) {
		position: absolute;
	}
}

#masthead {
	z-index: 10;
}

.top-bar {
	border-bottom: 1px solid $light-gray;

	&.inverse {
		border-color: rgba($white, 0.08);
	}

	@include breakpoint(small only) {
		padding: 0.5rem 0 !important;
	}

	&.with-logo {
		padding: 1.2rem 0;

		.menu > li {
			vertical-align: middle;
		}
	}

	a {
		color: $body-font-color;
	}

		&.inverse a {
			color: $white;

			&:hover {
				color: $medium-gray;
			}
		}

	ul ul {
		display: none;
	}

	.dropdown.menu > li.is-dropdown-submenu-parent {
		> a::after {
			border-color: $body-font-color transparent transparent;
		}
		li.opens-left > a::after {
			border-color: transparent $body-font-color transparent transparent;
		}
		li.opens-right > a::after {
			border-color: transparent transparent transparent $body-font-color;
		}
	}
}

.admin-bar .is-stuck {
	margin-top: 32px !important;
}

.inverse .menu > li > a {
	color: $white;
	text-decoration: none;

	&:hover {
		color: $medium-gray;
	}
}

// 2.2. Top stripe
// ---------------

.top-stripe {
	padding: 3px 0;
	background-color: $primary-color;

	&.inverse,
	&.inverse .menu > li > a {
		color: rgba($white, 0.8);

		&:hover {
			color: rgba($white, 0.6);
		}
	}

	.menu > li.first > a {
		padding-left: 0;
	}

	.menu > li.last > a {
		padding-right: 0;
	}

	.menu i.fa {
		margin-right: 0.75em;
	}

	.menu.is-dropdown-submenu {
		margin-top: 2px;
		text-align: left;
		z-index: 3;

		i.fa {
			width: 1.25em;
			margin-right: 0.5em;
			color: $medium-gray;
		}
	}

	&.inverse .is-dropdown-submenu,
	&.inverse .is-dropdown-submenu.menu > li > a {
		color: $body-font-color;
	}

		&.inverse .is-dropdown-submenu.menu > li > a:hover {
			color: $primary-color;
		}

	.is-dropdown-submenu-parent a::after {
		top: 55%;
	}

	&.inverse .is-dropdown-submenu-parent a::after {
		opacity: 0.75;
	}
}

// 2.3. Top bar title
// ------------------

.menu > li.site-logo > a {
	padding: 0;
}

.top-bar-title {

	.site-logo img {
		width: auto;
		height: 35px;
		margin-right: $base-space;

		@include breakpoint(medium up) {
			width: auto;
			height: 44px;
		}
	}

	.site-title {
		font-weight: bold;

		h1 {
			margin-bottom: 0;
			font-size: inherit;
			font-weight: bold;
			line-height: 1;
		}

		a {
			padding-left: 0;
			padding-right: 0;
		}

		@include breakpoint(small only) {
			img {
				height: 24px;
			}
		}
	}

	.site-description span {
		margin-left: 1em;
		padding-left: 1em;
		border-left: 1px solid $light-gray;
	}

		.inverse & .site-description span {
			border-color: rgba($white, 0.1);
		}
}

// 2.4. Tob bar right & left
// -------------------------

@include breakpoint(medium up) {
	.top-bar-left {
		margin-left: $large-space;
	}
}

@include breakpoint(medium up) {
	.top-bar.with-logo .top-bar-left,
	.top-bar.with-logo .top-bar-right {
		margin-top: 3px !important;
	}
}

.top-bar-right .menu.dropdown > li:last-of-type:not(.is-dropdown-submenu-parent) > a {
	padding-right: 0;
}

.inverse .dropdown.menu > li.is-dropdown-submenu-parent > a::after {
	border-color: $white transparent transparent;
}

.top-bar {

	.menu .button {
		display: inline-block;
		margin-bottom: 0;
		padding: 0 0.5rem;
		border: 0;
		background: none;
		font-size: inherit;

		&:hover {
			background: none;
			color: inherit;
		}

		a {
			@include button;
			padding: $menu-items-padding;
			margin-bottom: 0;
			font-size: inherit;
		}
	}

	.menu.drilldown .button {
		padding: 0;

		a {
			display: block;
		}
	}

	.hollow.button {
		border: 0;
		color: inherit;

		a {
			background-color: transparent;
			color: $primary-color;
			border: 1px solid $primary-color;

			&:hover {
				color: scale-color($primary-color, $lightness: -14%);
				border-color: scale-color($primary-color, $lightness: -14%);
			}
		}
	}

	&.inverse .hollow.button a {
		color: $white;
		border-color: $white;

		&:hover {
			color: $medium-gray;
			border-color: $medium-gray;
		}
	}
}

.top-bar-right .menu.dropdown > li:last-of-type.button {
	padding-right: 0;
	
		& > a {
		padding-right: 1rem;
	}
}

// 2.5. Responsive menu
// --------------------

.menu-hamburger ul.menu {
	float: right;
}

.menu-hamburger a {
	padding-right: 0 !important;
}

.is-drilldown {
	margin-top: 0.5rem;
	padding-top: 0.25rem;
	border-top: 1px solid $light-gray;

	.menu > li > a {
		padding: $base-space 0;
	}
}

.is-drilldown-submenu-parent > a::after {
	border-color: transparent transparent transparent $body-font-color !important;

	.inverse & {
		border-color: transparent transparent transparent $white !important;
	}
}

.js-drilldown-back > a::before {
	border-color: transparent $body-font-color transparent transparent !important;

	.inverse & {
		border-color: transparent $white transparent transparent !important;
	}
}

// 3. Content
// ----------

// 3.1. Entry
// ----------

#primary {
	margin-top: 2rem;
	margin-bottom: $base-space;
}

#secondary {
	margin-top: $xlarge-space;
}

@include breakpoint(small only) {
	#primary,
	#secondary {
		margin-top: 0.75rem;
	}

	#secondary {
		padding-top: $large-space;
		border-top: 1px solid $light-gray;
	}
}

#main article {
	margin-bottom: 2rem;
}

.entry-featured-img {
	margin-top: $tiny-space;
	margin-bottom: $large-space;
}

.entry-header {
	margin-bottom: $base-space;

	.entry-title {
		line-height: 1.25;

		a {
			color: $body-font-color;
		}
	}

	.entry-meta {
		font-size: $small-font-size;
	}

	@include breakpoint(small only) {
		margin-bottom: $small-space;

		.entry-meta {
			margin-bottom: 0;
		}
	}
}

.page-title {
	line-height: 1.25;
	margin-bottom: $base-space;
}

.entry-content {
	h1, h2, h3, h4, h5, h6 {
		margin-top: 2rem;
		margin-bottom: 0.75rem;
	}

	.card {
		h1, h2, h3, h4, h5, h6 {
			margin-top: 0;
		}
	}
}

.entry-meta .item:before,
.entry-footer .item:before,
.edit-link:before {
	margin-right: 0.75em;
	font-family: FontAwesome;
	color: $medium-gray;
}

.posted-on:before		{ content: '\f073'; }
.comments-link:before 	{ content: '\f075'; }
.cat-links:before 		{ content: '\f07c'; }
.tags-links:before 		{ content: '\f02b'; }
.edit-link:before 		{ content: '\f040'; }

a.more-link {
	display: inline-block;
	margin-bottom: 0.25rem;
	padding: 0.2em 0.75em 0.35em;
	background-color: $light-gray;
	border-radius: $global-radius;
	color: $body-font-color;
	font-size: $small-font-size;

	&:hover {
		color: $body-font-color;
		background-color: $medium-gray;
	}
}

.entry-footer {
	margin-bottom: $medium-space;
	font-size: $small-font-size;

	.single & {
		margin-bottom: 0;
	}
}

.entry-meta a,
.entry-footer,
.entry-footer a {
	color: $dark-gray;
}

.byline {
	margin-left: -3px;
}

.page .entry-footer .divider,
.divider.tags-post-edit {
	display: none;
}

.cat-links + .divider.tags-post-edit,
.tags-links + .divider.tags-post-edit {
	display: inline;
}

.archive .page-title,
.search .page-title {
	margin-bottom: $small-space;
	padding-bottom: $small-space;
	border-bottom: 1px solid $light-gray;
}

// 3.2. Cover
// ----------

#cover {
	position: relative;
	margin-bottom: $base-space;
	overflow: hidden;
	background: $black;
	background-position: center;
	background-size: cover;
	text-shadow: 0 0 $large-space black;

	&,
	.column {
		height: 450px;

		@include breakpoint(medium only) {
			height: 350px;
		}

		@include breakpoint(small only) {
			height: 280px;
		}
	}

	.entry-header {
		@include vertical-center;
		width: 100%;

		@include breakpoint(small only) {
			margin-top: $base-space;
		}
	}

	.filter {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.25);
	}

	.entry-meta {
		color: rgba($white, 0.5);
		margin-bottom: 0;
	}
}

// 3.3. Post formats
// -----------------

@include breakpoint(medium up) {
	.format-aside h1.entry-title,
	.format-aside h2.entry-title  {
		font-size: $large-space;
	}
}

.format-status .entry-title {
	display: none;
}

.format-status .entry-content {
	font-size: 1.5em;
}

.format-chat .entry-format:before 		{ content: '\f086'; }
.format-audio .entry-format:before 		{ content: '\f028'; }
.format-status .entry-format:before 	{ content: '\f21e'; }
.format-gallery .entry-format:before 	{ content: '\f00a'; }
.format-link .entry-format:before 		{ content: '\f0c1'; }
.format-quote .entry-format:before 		{ content: '\f10d'; }
.format-video .entry-format:before 		{ content: '\f008'; }
.format-image .entry-format:before 		{ content: '\f03e'; }
.format-aside .entry-format:before 		{ content: '\f249'; }

// 4. Comments
// -----------

#comments {
	margin-top: $base-space;

	// 4.1. Misc
	// ---------

	.comments-title,
	#respond {
		padding-top: $medium-space;
		border-top: 1px solid $light-gray;
	}

	.comments-title {
		margin-bottom: 0.75em;
	}

	// 4.2. Comment list
	// -----------------

	ol.comment-list {
		margin-left: 64px;
		margin-bottom: $xlarge-space;

		li {
			list-style: none;
		}
	}

	ol ol.children {
		margin-left: 48px;

		ol.children {
			margin-left: 0;
		}

		img.avatar {
			width: 32px;
			height: 32px;
			margin-left: -48px !important;
		}
	}

	// 4.3. Comment
	// ------------

	.comment {

		.bypostauthor {
			display: block;
		}

		.comment-body {
			margin-bottom: $large-space;

			.comment-author {
				display: inline-block;
				color: $dark-gray;

				a.url {
					color: $body-font-color;

					&:hover {
						color: $primary-color;
					}
				}

				img.avatar {
					position: absolute;
					margin-top: 7px;
					margin-left: -64px;
					border-radius: 50%;
				}
			}

			.comment-metadata {
				display: inline-block;
				margin-left: $tiny-space;
				font-size: $small-font-size;
			}

			.comment-content a {
				word-wrap: break-word;
			}

			.reply {
				margin-top: -1em;
				font-size: $small-font-size;
			}

			.comment-metadata a,
			.reply a {
				color: $dark-gray;

				&:hover {
					color: $primary-color;
				}
			}

			.edit-link {
				margin-left: $small-space;
				padding-left: 0.75em;
				border-left: 1px solid $light-gray;
			}
		}
	}

	// 4.4. Respond
	// ------------

	#respond {
		margin-bottom: $large-space;

		.comment-form {
			max-width: 800px;

			.form-submit {
				clear: left;
			}
		}

		@include breakpoint(medium up) {
			.comment-form-author,
			.comment-form-email,
			.comment-form-url {
				width: 32.2%;
				margin-right: 1.5%;
				float: left;
			}
		}

		.comment-form-url {
			margin-right: 0;
		}
	}
}

// 5. Widgets
// ----------

// 5.1. General
// ------------

.widget {
	margin-bottom: 2rem;

	ul {
		list-style-type: none;
		margin-left: 0;

		ul {
			margin-top: $small-space;
			padding-left: $base-space;
		}

		li {
			margin-bottom: $small-space;
			padding-bottom: $small-space;
			border-bottom: 1px solid $light-gray;

			.inverse & {
				border-color: rgba($white, 0.25);
			}

			li {
				padding-top: $small-space;
				padding-bottom: 0;
				border-top: 1px solid $light-gray;
				border-bottom: 0;

				&:last-of-type {
					margin-bottom: 0;
				}
			}

			a {
				color: $body-font-color;

				&:hover {
					color: $anchor-color-hover;
				}

				.inverse & {
					color: $white;
					text-decoration: none;
					text-decoration-color: $dark-gray;

					&:hover {
						color: rgba($white, 0.75);
					}
				}
			}
		}
	}

	.menu > li {
		display: list-item;

		> a {
			padding: 0;
			line-height: inherit;
		}
	}
}

h2.widget-title {
	margin-bottom: $medium-space;
	font-weight: normal;

	@include breakpoint(medium up) {
		font-size: 1.25rem;
	}
}

// 5.2. Search form
// ----------------

.widget .search-form label,
.widget .woocommerce-product-search input[type="search"],
.widget input#bbp_search {
	width: 65%;
	float: left;
	margin-right: 2%;
}

.widget .search-form .search-submit,
.widget .woocommerce-product-search input[type="submit"],
.widget input#bbp_search_submit {
	width: 33%;
	height: 39px;
}

// 5.3. RSS & Recent comments
// --------------------------

.rss-widget-icon {
	margin-right: 0.25rem;
}

.widget.widget_rss ul li a,
.widget_recent_comments ul li a {
	color: $primary-color;
	
	&:hover {
		color: scale-color($primary-color, $lightness: -14%);
	}
}

.inverse .widget.widget_rss ul li a,
.inverse .widget_recent_comments ul li a {
	color: $white;
	text-decoration: underline;
	text-decoration-color: rgba($white, 0.5);
	
	&:hover {
		text-decoration: none;
	}
}

.rss-date {
	opacity: 0.75;
	font-size: 0.867rem;
}

.rssSummary {
	font-size: 0.867rem;
}

// 5.4. Tag cloud
// --------------

.tagcloud a {
	color: inherit;

	.inverse & {
		text-decoration: none;
		text-decoration-color: rgba($white, 0.5);

		&:hover {
			text-decoration: underline;
			text-decoration-color: rgba($white, 0.5);
		}
	}
}

// 5.5. Calendar
// -------------

#wp-calendar thead,
#wp-calendar tbody {
	text-align: center;

	table tfoot td#next {
		text-align: right;
	}
}

// 6. Footer
// ---------

#footer-wrapper {
	background: $black;
}

#footer-widgets {
	padding-top: 3rem;
	background-color: scale-color($black, $lightness: 5%);

	.column:last-child:not(:first-child),
	.columns:last-child:not(:first-child) {
		float: left;
	}

	.menu li {
		display: block;
	}
}

#colophon {
	@include section-padding;

	.row {
		opacity: 0.6;

		@include breakpoint(small only) {
			.columns {
				margin-top: $small-space;
				margin-bottom: $small-space;
			}
		}

		@include breakpoint(medium up) {
			.site-developer {
				text-align: right;
			}
		}
	}
}

#up {
	display: none;
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	text-align: center;
	background: rgba($black, 0.5);
	color: $white;
	border-radius: $global-radius;

	&:hover {
		background-color: rgba($black, 0.75);
	}

	a {
		display: block;
		padding: 0.25rem 0.8rem 0.5rem;
		color: $white;
	}
}