// Table of contents
//
// 1. Global
	// 1.1 Misc
	// 1.2 Posts & comments navigation
	// 1.3 Accessibility
	// 1.4 Alignments
	// 1.5 Infinite scroll
	// 1.6 Media
	// 1.7 Captions
	// 1.8 Galleries
	// 1.9 Forms
	// 1.10 Buttons
// 2. Header
	// 2.1 Misc
	// 2.2 Top stripe
	// 2.3 Top bar title
	// 2.4 Top bar right
	// 2.5 Responsive menu
// 3. Content
	// 3.1 Entry
	// 3.2 Cover
// 4. Comments
// 5. Sidebar
	// 5.1 Widgets
	// 5.2 Search form
// 6. Footer

// 1. Global
// ---------

// 1.1 Misc
// --------

.inverse { color: $white !important; }

.inverse a {
	color: $white;
	text-decoration: underline;
	text-decoration-color: $dark-gray;
}

	.inverse a:hover {
		color: $white;
		text-decoration: none;
		text-decoration-color: $dark-gray;
	}

.inverse table thead,
.inverse table tbody,
.inverse table tfoot {
	background: none;
	color: inherit;
	border-color: rgba(255,255,255,0.1);
}

.inverse table tbody tr:nth-child(2n) { background-color: rgba(255,255,255,0.1); }

.inverse abbr {
	color: inherit;
	border-color: $white;
}

.inverse cite { color: $medium-gray; }

blockquote { background-color: $light-gray; }

pre {
	padding: 0.5rem 1rem !important;
	background: $light-gray;
	border-radius: $global-radius;
	margin-bottom: 1rem !important;
}

code {
	border: 0 !important;
	border-radius: $global-radius;
}

pre code {
	background: none;
	border: 0;
	padding: 0;
}

// 1.2 Posts & comments navigation
// -------------------------------

.comment-navigation a,
.post-navigation a,
.posts-navigation a { color: $body-font-color; }

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	display: inline-block;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	display: inline-block;
	float: right;
	text-align: right;
	width: 50%;
}

.nav-previous a:before {
	font-family: FontAwesome;
	content: '\f104';
	margin-right: 0.5em;
}

.nav-next a:after {
	font-family: FontAwesome;
	content: '\f105';
	margin-left: 0.5em;
}

// 1.3 Accessibility
// -----------------

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus { outline: 0; }

// 1.4 Alignments
// --------------

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// 1.5 Infinite scroll
// --------------------

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer { display: block; }

// 1.6 Media
// ---------

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object { max-width: 100%; }

// 1.7 Captions
// ------------

.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text { margin: 0.8075em 0; }

.wp-caption-text { text-align: center; }

// 1.8 Galleries
// -------------

.gallery { margin-bottom: 1.5em; }

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item { max-width: 50%; }
.gallery-columns-3 .gallery-item { max-width: 33.33%; }
.gallery-columns-4 .gallery-item { max-width: 25%; }
.gallery-columns-5 .gallery-item { max-width: 20%; }
.gallery-columns-6 .gallery-item { max-width: 16.66%; }
.gallery-columns-7 .gallery-item { max-width: 14.28%; }
.gallery-columns-8 .gallery-item { max-width: 12.5%; }
.gallery-columns-9 .gallery-item { max-width: 11.11%; }

.gallery-caption { display: block; }

// 1.9 Forms
// ---------

select { padding-top: 0.35rem !important; }

form textarea[rows] { height: 8rem; }

.input-wrapper input[type="text"],
.input-wrapper input[type="tel"],
.input-wrapper input[type="email"] { padding-left: 40px; }

.input-wrapper::before {
	font-family: FontAwesome;
	color: $medium-gray;
	position: absolute;
	line-height: 1.25;
	margin-top: 9px;
	margin-left: 12px;
	width: 25px;
	z-index: 1;
}

.input-wrapper.name::before { content: "\f007"; }
.input-wrapper.phone::before { content: "\f095"; }
.input-wrapper.email::before { content: "\f0e0"; }

.form-wrapper.semi input[type="text"],
.form-wrapper.semi input[type="tel"],
.form-wrapper.semi input[type="email"],
.form-wrapper.semi textarea { background-color: rgba(255,255,255,0.75); }

.form-wrapper.semi .input-wrapper::before { color: #888; }

.wpcf7-not-valid-tip {
	margin-top: -1rem;
	margin-bottom: 0.5rem;
}

div.wpcf7-response-output {
	margin: 0 !important;
	border-radius: $global-radius;
}

div.wpcf7 img.ajax-loader {
	position: absolute;
	margin-top: 0.75em;
}

// 1.10 Buttons
// -----------

button,
input,
optgroup,
select,
textarea { font-family: $body-font-family !important; }

.submit,
.search-submit,
form input[type="submit"] { @include button; }

.inverse a.button {	text-decoration: none; }

.inverse .button.hollow {
	border: 1px solid $white;
	color: $white;
}

// 2. Header
// ---------

// 2.1 Misc
// --------

.fixed {
	position: fixed;
	width: 100%;
	z-index: 2;
}

	@include breakpoint(small only) {
		.fixed { position: absolute; }
	}

#masthead {z-index: 5; }

.top-bar {
	border-bottom: 1px solid $light-gray;
	transition: 0.3s;
}

	.top-bar.inverse { border-color: rgba(255,255,255,0.08); }

	@include breakpoint(small only) {
		.top-bar { padding: 0.5rem 0 !important; }
	}

.top-bar a { color: $body-font-color; }

.top-bar ul ul { display: none; }

.top-bar .dropdown.menu > li.is-dropdown-submenu-parent {
	> a::after {
		border-color: $body-font-color transparent transparent;
	}
	li.opens-left > a::after {
		border-color: transparent $body-font-color transparent transparent;
	}
	li.opens-right > a::after {
			border-color: transparent transparent transparent $body-font-color;
		}
}

.admin-bar .is-stuck { margin-top: 32px !important; }

.menu > li.site-logo > a { padding: 0 0.75rem 0 0 }

.inverse .menu > li > a { color: $white; text-decoration: none; }

// 2.2 Top stripe
// -----------------

.top-stripe a { color: inherit; }

.top-stripe .menu > li > a {
	padding-left: 1rem;
	padding-right: 1rem;
}

.top-stripe .menu > li.first > a { padding-left: 0; }

.top-stripe .menu > li.last > a { padding-right: 0; }

.top-stripe .fa-caret-down { margin-top: -2px; }

.top-stripe .product-search { background-color: #444; }

// 2.3 Top bar title
// -----------------

.top-bar-title .site-name {	font-weight: bold; }

.top-bar-title .site-name h1 {
	margin-bottom: 0;
	font-size: inherit;
	font-weight: bold;
	line-height: 1;
}

.top-bar-title .site-name a {
	padding-left: 0;
	padding-right: 0;
}

.top-bar-title .site-name img {
	height: 41px;
	width: auto;
}

@include breakpoint(small only) {
	.top-bar-title .site-name img {	height: 24px; }
}

.top-bar-title .site-description span {
	margin-left: 1em;
	padding-left: 1em;
	border-left: 1px solid $light-gray;
}

	.inverse .top-bar-title .site-description span { border-color: rgba(255,255,255,0.1) }

// 2.4 Tob bar right
// -----------------

.top-bar-right { font-size: 0.867rem; }

	@include breakpoint(medium up) {
		.top-bar-right { margin-top: 2px; }
	}

.top-bar-right .menu > li > a {	text-transform: uppercase; }

.top-bar-right .menu > li > a:last-of-type { padding-right: 0; }

.top-bar .button { margin-bottom: 0; }

// 2.5 Responsive menu
// -------------------

.menu-hamburger ul.menu { float: right; }

.menu-hamburger a {	padding-right: 0 !important; }

.is-drilldown {
	margin-top: 0.5rem;
	padding-top: 0.25rem;
	border-top: 1px solid $light-gray;
}

.is-drilldown .menu > li > a { padding: 1rem 0; }

.is-drilldown-submenu-parent > a::after { border-color: transparent transparent transparent $body-font-color !important; }

.js-drilldown-back > a::before { border-color: transparent $body-font-color transparent transparent !important; }

// 3. Content
// ----------

// 3.1 Entry
// ---------

a { transition: 0.4s; }

#primary,
#secondary { margin-top: 1.5rem; }

@include breakpoint(small only) {
	#primary,
	#secondary { margin-top: 0.75rem; }

	#secondary {
		padding-top: 1.5rem;
		border-top: 1px solid $light-gray;
	}
}

article { margin-bottom: 1.5rem; }

.page-template-page-fluid #primary { margin-top: 0; }

.page-template-page-fluid article { margin-bottom: 0; }

.page-title,
.entry-title { line-height: 1.2; }

.entry-title,
.entry-header { margin-bottom: 0.75rem; }

.entry-title a { color: $body-font-color; }

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
	margin-top: 2rem;
	margin-bottom: 0.75rem;
}

@include breakpoint(small only) {
	.entry-header.margin-bottom-large { margin-bottom: 0.5em; }

	.entry-meta { margin-bottom: 0; }
}

.entry-meta { font-size: 0.867em; }

a.more-link {
	display: inline-block;
	margin-bottom: 0.25rem;
	padding: 0.2em 0.75em 0.35em;
	background-color: $light-gray;
	border-radius: $global-radius;
	color: $body-font-color;
	font-size: 0.867em;
}

a.more-link:hover {
	color: $body-font-color;
	background-color: $medium-gray;
}

.entry-footer {
	padding-bottom: 0.75rem;
	margin-bottom: 0.75rem;
	font-size: 0.867em;
}

.single .entry-footer { margin-bottom: 0; }

.entry-meta a,
.entry-footer,
.entry-footer a { color: $dark-gray;}

.byline { margin-left: -3px; }

.entry-meta i.fa,
.entry-footer i.fa {
	margin-right: 0.75em;
	color: $medium-gray;
}

.page .entry-footer .divider { display: none; }

.archive .page-title,
.search .page-title {
	margin-bottom: 0.5em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid $light-gray;
}

// 3.2 Cover
// ---------

#cover {
	position: relative;
	overflow: hidden;
	background: $black;
	background-position: center;
	background-size: cover;
	text-shadow: 0 0 1.5em black;
}

#cover,
#cover .column { height: 450px; }

#cover .filter {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.25);
}

#cover .entry-meta { color: $white; }

@include breakpoint(medium only) {
	#cover,
	#cover .column { height: 350px; }
}

@include breakpoint(small only) {
	#cover,
	#cover .column { height: 280px;	}

	#cover .entry-header { margin-top: 1rem; }
}

// 4. Comments
// -----------

#comments { margin-top: 1rem; }

.comment-content a { word-wrap: break-word; }

.bypostauthor {	display: block; }

.comments-title,
#respond {
	padding-top: 1.5rem;
	border-top: 1px solid $light-gray;
}

.comments-title { margin-bottom: 0.75em; }

#respond { margin-bottom: 2rem; }

.comment-form { max-width: 800px; }

@include breakpoint(medium up) {
	.comment-form-author,
	.comment-form-email,
	.comment-form-url {
		width: 32.2%;
		margin-right: 1.5%;
		float: left;
	}
}

.comment-form-url {	margin-right: 0; }

#comments .form-submit { clear: left; }

ol.comment-list {
	margin-left: 64px;
	margin-bottom: 2rem;
}

ol.comment-list li { list-style: none; }

ol ol.children { margin-left: 48px; }

ol ol.children ol.children { margin-left: 0; }

.comment img.avatar {
	position: absolute;
	margin-top: 7px;
	margin-left: -64px;
	border-radius: 50%;
}

ol ol.children .comment img.avatar {
	width: 32px;
	height: 32px;
	margin-left: -48px;
}

.comment .comment-author {
	display: inline-block;
	color: $dark-gray;
}

.comment .comment-author a.url { color: $body-font-color; }

	.comment .comment-author a.url:hover { color: $primary-color; }

.comment .comment-metadata {
	display: inline-block;
	margin-left: 0.25em;
	font-size: 0.867em;
}

.comment .comment-metadata a,
.comment .reply a { color: $dark-gray; }

	.comment .comment-metadata a:hover,
	.comment .reply a:hover { color: $primary-color; }

.comment .edit-link {
	margin-left: 0.5em;
	padding-left: 0.75em;
	border-left: 1px solid $light-gray;
}

.comment .reply {
	margin-top: -1em;
	font-size: 0.867em;
}

.comment .comment-body { margin-bottom: 1.5rem; }

// 5. Sidebar
// ----------

// 5.1. Widgets
// ------------

.widget { margin-bottom: 2.5rem; }

.widget.widget_search { margin-bottom: 1.5rem; }

.widget ul {
	list-style-type: none;
	margin-left: 0;
}

.widget ul li {
	margin-bottom: 0.5em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid $light-gray;
}

	.inverse .widget ul li { border-color: rgba(255,255,255,0.25); }

.widget ul ul {
	margin-top: 0.5em;
	padding-left: 1rem;
}

.widget ul li li {
	padding-top: 0.5em;
	padding-bottom: 0;
	border-top: 1px solid $light-gray;
	border-bottom: 0;
}

.widget ul li li:last-of-type {	margin-bottom: 0; }

.widget ul li a { color: $body-font-color; }

	.widget ul li a:hover { color: $anchor-color-hover; }

.inverse .widget ul li a {
	color: $white;
	text-decoration: none;
	text-decoration-color: $dark-gray;
}

	.inverse .widget ul li a:hover {
		text-decoration: underline;
		text-decoration-color: $dark-gray;
	}

h2.widget-title {
	margin-bottom: 1em;
	font-weight: normal;
}

	@include breakpoint(medium up) {
		h2.widget-title { font-size: 1.25rem; }
	}

.widget .menu > li { display: list-item; }

.widget .menu > li > a {
	padding: 0;
	line-height: inherit;
}

.rss-widget-icon { margin-right: 0.25rem; }

.widget.widget_rss ul li a,
.widget_recent_comments ul li a { color: $primary-color; }
	
	.widget.widget_rss ul li a:hover,
	.widget_recent_comments ul li a:hover { color: scale-color($primary-color, $lightness: -14%); }

	.inverse .widget.widget_rss ul li a,
	.inverse .widget_recent_comments ul li a {
		color: $white;
		text-decoration: underline;
		text-decoration-color: $dark-gray;
	}

		.inverse .widget.widget_rss ul li a:hover,
		.inverse .widget_recent_comments ul li a:hover {
			text-decoration: none;
			text-decoration-color: $dark-gray;
}

.rss-date { color: $dark-gray; }

	.inverse .rss-date { color: $medium-gray; }

.rssSummary {
	font-size: 0.92857rem;
}

.tagcloud a { color: inherit; }

	.inverse .tagcloud a {
		text-decoration: none;
		text-decoration-color: $dark-gray;
	}

		.inverse .tagcloud a:hover {
			text-decoration: underline;
			text-decoration-color: $dark-gray;
		}

table tfoot td#next { text-align: right; }

// 5.2 Search form
// ---------------

.widget .search-form label,
.widget .woocommerce-product-search input[type="search"] {
	width: 65%;
	float: left;
	margin-right: 2%;
}

.widget .search-form .search-submit,
.widget .woocommerce-product-search input[type="submit"] {
	width: 33%;
	height: 39px;
	padding: 0;
}

// 6. Footer
// ---------

#footer-wrapper { background: $black; }

#footer-widgets { background-color: #444; }

#footer-widgets .column:last-child:not(:first-child),
#footer-widgets .columns:last-child:not(:first-child) { float: left; }

#footer-widgets .menu > li { display: block; }

#colophon .row { opacity: 0.5; }