// Table of contents
// -----------------
// 1. Common
// 2. Shopping cart
	// 2.1 Header cart
	// 2.2 Widget cart
	// 2.3 Cart page
// 3. Product search
// 4. Product archive
	// 4.1 Grid
	// 4.2 Product item
	// 4.3 Pagination
// 5. Single product
	// 5.1 Summary
	// 5.2 Tabs
	// 5.3 Reviews
	// 5.4 Misc
// 6. My account
// 7. Widgets

// 1. Common
// ---------

@include breakpoint(medium up) {
	.single-product #primary,
	.single-product #secondary { margin-top: $base-space; }
}

@include breakpoint(medium up) {
	.woocommerce #masthead { height: 119.7px; }
}

.woocommerce a.button,
.woocommerce input.button,
.woocommerce #respond input#submit,
.woocommerce .cart .button,
.woocommerce .cart input.button,
.woocommerce div.product form.cart .button,
.woocommerce input#place_order.button,
.woocommerce nav.woocommerce-pagination ul li span,
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce .widget_price_filter .price_slider_amount .button,
.btn {
	@include button;
	font-weight: normal;
}

	.inverse .btn {
		text-decoration: none;
	}

.woocommerce a.button.alt {
	background-color: $primary-color;

	&:hover {
		background-color: scale-color($primary-color, $lightness: -14%);
	}
}

.star-rating,
.woocommerce p.stars a {
	color: $warning-color;
}

.woocommerce .woocommerce-message a.button.wc-forward {
	background-color: #8fae1b;

	&:hover {
		background-color: scale-color(#8fae1b, $lightness: -14%);
	}
}

.woocommerce table {
	border-radius: $global-radius !important;
}

.woocommerce .woocommerce-breadcrumb,
.woocommerce .woocommerce-breadcrumb a {
	color: $dark-gray;
}

	.woocommerce .woocommerce-breadcrumb a:hover {
		color: scale-color($primary-color, $lightness: -14%);
	}

.woocommerce .woocommerce-form-login input.button {
	margin-bottom: 0;
	margin-right: $medium-space;
}

.entry-content .woocommerce {
	h1,	h2,	h3,	h4,	h5,	h6 {
		margin-top: 0;
	}
}

// 2. Shopping cart
// ----------------

// 2.1 Header cart
// ---------------


.top-stripe {

	.widget_shopping_cart {
		width: 300px;
		margin-bottom: 0;
		padding: $base-space;
		background: $white;
		border-top: 0;

		@include breakpoint(small only) {
			& {
				width: 100%;
				left: 0;
				margin-left: 0;
				border: 0 0 1px 0 solid $light-gray;
			}
		}
	}

	&.inverse .widget_shopping_cart {
		color: $body-font-color !important;

		.mini_cart_item a {
			color: $primary-color;
			text-decoration: none;

			&:hover {
				color: scale-color($primary-color, $lightness: -14%);
			}
		}
	}

	.button,
	.btn {
		margin-bottom: 0.75rem;
	}

	.button:last-of-type,
	.btn:last-of-type,
	.buttons {
		margin-bottom: 0;
	}

	@include breakpoint(small only) {
		.menu > li.cart > a {
			padding-right: 0;
		}
	}

	.cart .amount {
		font-weight: bold;
		margin-right: $small-space;
	}

	.product-search {
		background-color: #444;
	}
}

// 2.2 Widget cart
// ---------------

.woocommerce .widget_shopping_cart .total,
.woocommerce.widget_shopping_cart .total {
	border-top: 0;
}

.woocommerce .widget_shopping_cart .cart_list li,
.woocommerce.widget_shopping_cart .cart_list li {
	margin-bottom: 0.5rem;
}

.woocommerce .widget_shopping_cart .cart_list li.empty,
.woocommerce.widget_shopping_cart .cart_list li.empty {
	margin-bottom: 0;
	border-bottom: 0;
}

.woocommerce .widget_shopping_cart .button,
.woocommerce.widget_shopping_cart .button {
	width: 100%;
}

.widget_shopping_cart .btn {
	display: block;
	width: 100%;
	color: white;
}

.inverse .widget ul li a.remove:hover {
	text-decoration: none;
}

.woocommerce ul.cart_list li dl dd,
.woocommerce ul.cart_list li dl dt,
.woocommerce ul.product_list_widget li dl dd,
.woocommerce ul.product_list_widget li dl dt {
	margin-bottom: 0;
}

// 2.3 Cart page
// -------------

.woocommerce input#coupon_code {
	margin-right: $base-space;
}

.woocommerce .cart input.button,
.woocommerce .checkout_coupon input.button {
	height: 2.78571rem;
}

.woocommerce .checkout_coupon input.button {
	margin-bottom: 0;
}

.woocommerce input.button:disabled,
.woocommerce input.button[disabled]:disabled {
	color: $white;
}

.woocommerce table.cart td.actions {
	padding-top: $base-space;
	padding-bottom: 0;
}

.woocommerce #add_payment_method .wc-proceed-to-checkout a.checkout-button,
.woocommerce-cart .woocommerce .wc-proceed-to-checkout a.checkout-button,
.woocommerce-checkout .woocommerce .wc-proceed-to-checkout a.checkout-button {
	font-size: 0.9rem;
}

// 3. Product search
// -----------------

.product-search,
.product-search input[type="search"],
.product-search .close {
	height: 85px;

	@include breakpoint(small only) {
		& {
			height: 50px;
		}
	}
}

.product-search {
	position: absolute;
	z-index: 2;
	display: none;
	top: 41px;
	width: 100%;

	input[type="search"] {
		width: 100%;
		margin-bottom: 0;
		padding-left: 0;
		background: none;
		border: 0;
		box-shadow: none;
		color: $light-gray;
		font-size: 1.25em;

		@include breakpoint(small only) {
			& {
				font-size: 1em;
			}
		}

		&:focus {
			box-shadow: none;
		}
	}

	input[type="submit"] {
		display: none;
	}

	.close i {
		@include vertical-center;
		color: $medium-gray;
		transition: 0.3s;

		&:hover {
			color: $dark-gray;
		}
	}
}

// 4. Product archive
// -------------------

// 4.1 Grid
// --------

@media (min-width: 769px) {
	.woocommerce ul.products li.product,
	.woocommerce-page ul.products li.product {
		width: 22.15%;
	}
}

@media (min-width: 769px) {
	.woocommerce .with-sidebar ul.products li.product,
	.woocommerce-page .with-sidebar ul.products li.product {
		width: 30.80%;
	}
}

.woocommerce select.orderby {
	font-size: 1rem;
	padding: 0 0.5rem 0.5rem;
	padding-right: $base-space;
	background-position: center right -6px;
}

// 4.2 Product item
// ----------------

.woocommerce ul.products li.product,
.woocommerce .products .product {

	h3 {
		padding-bottom: 0;
		color: $body-font-color;
		font-weight: bold;
	}

	.price {
		color: $body-font-color;
		font-size: 1.125em;

		del {
			display: inline-block;
			margin-right: $tiny-space;
		}

		ins {
			font-weight: inherit;
			text-decoration: none;
		}
	}

	.button {
		margin-top: 0;
		font-size: 0.867rem;
	}

	.star-rating {
		position: absolute;
		margin-top: -5rem;
		margin-left: 1.125rem;
	}

	.onsale {
		margin: 0.75rem;
	}
}

.woocommerce span.onsale {
	top: $base-space;
	left: $base-space;
	min-height: 2.5em;
	padding: 0 $medium-space;
	background-color: rgba(255,174,0,0.75);
	border-radius: $global-radius;
	line-height: 2.4;
}

// 4.3 Pagination
// --------------

.woocommerce nav.woocommerce-pagination {
	margin-top: -$base-space;
	margin-bottom: $base-space;

	ul li span.current {
		background-color: $medium-gray;
	}

	ul,
	ul li {
		border: 0;
	}

	ul li span,
	ul li a {
		margin: 0 $small-space;
	}
}

// 5. Single product
// -----------------

// 5.1 Summary
// -----------

.woocommerce div.product div.images .flex-control-thumbs li {
	margin: $base-space $base-space 0 0;
}

.woocommerce div.product .product_title {
	margin-bottom: $small-space;
}

.woocommerce div.product .woocommerce-product-rating {
	margin-bottom: $medium-space;
}

.woocommerce div.product p.price,
.woocommerce div.product span.price {
	color: $body-font-color;
}

.woocommerce div.product .summary p.price .amount,
.woocommerce div.product .summary span.price .amount {
	font-size: 1.5em;
}

.woocommerce div.product p.price ins,
.woocommerce div.product span.price ins {
	text-decoration: none;
	font-weight: inherit;
}

.woocommerce div.product p.price del,
.woocommerce div.product span.price del {
	margin-right: $small-space;
}

.woocommerce div.product form.cart .button {
	height: 2.78571rem;
	text-transform: uppercase;
}

.woocommerce div.product form.cart {
	margin-top: 2rem;
}

.woocommerce div.product form.cart div.quantity {
	margin-right: 10px;
}

.woocommerce .woocommerce-message a.button {
	margin-bottom: 0;
}

.woocommerce div.product form.cart .variations td.label {
	background: none;
	margin-top: 0.6em;
	padding: 0;
}

.woocommerce div.product form.cart .variations select {
	width: auto;
	min-width: auto;
	margin-bottom: 0;
}

.woocommerce div.product form.cart .woocommerce-variation {
	margin-bottom: 1.25em;
}

table.variations tbody {
	border: 0;
}

table.variations tbody td {
	padding: 0;
}

.product_meta > span {
	display: block;
}

// 5.2 Tabs
// --------

.woocommerce div.product .woocommerce-tabs {

	@include breakpoint(medium up) {
		& {
			margin-bottom: 4em;
		}
	}

	ul.tabs {
		padding-left: 0;
		border: 0;

		&::before {
			border-color: $light-gray;
		}

		li {
			margin: 0;
			padding: 0 2em;
			background: none;
			border: 0;

			&::before,
			&::after {
				border: 0;
				box-shadow: none;
				bottom: 3px;
			}

			&.active {
				background: none;
				border-bottom: 3px solid $primary-color;
			}

			a {
				padding: 0 0 1.25em;
			}
		}
	}
}

.woocommerce-tabs h2 {
	margin-bottom: $medium-space;

	@include breakpoint(medium up) {
		& {
			font-size: 1.5em;
		}
	}
}

// 5.3 Reviews
// -----------

.woocommerce #reviews {

	#comments ol.commentlist li {

		img.avatar {
			width: 48px;
			padding: 0;
			border: 0;
			border-radius: 50%;
		}

		.comment-text {
			margin-left: 64px;
			border: 0;
			padding: 0;

			p.meta {
				margin-top: -5px;
				margin-bottom: 0.25rem;
				font-size: 1rem;
			}
		}
	}

	h3 {
		margin-bottom: $small-space;
	}
}

#review_form_wrapper {
	border-top: 1px solid $light-gray;
}

#review_form_wrapper .comment-form-author,
#review_form_wrapper .comment-form-email {
	width: 49%;
}

#review_form {
	padding-top: 2rem;
	max-width: 800px;
}

.woocommerce #review_form #respond p.comment-form-author {
	margin-right: 2%;
}

.woocommerce #reviews #comment {
	height: 8rem;
}

.form-submit {
	clear: both;
}

// 5.4 Misc
// --------

.woocommerce .products h2 {
	margin-bottom: 0.75em;
}

// 6. My account
// -------------

.woocommerce-form-login {
	max-width: 585px;
}

.woocommerce-MyAccount-navigation ul {
	@include menu-direction(vertical);
	margin-left: 0;
	padding-left: 2em;

	li.woocommerce-MyAccount-navigation-link {
		margin-bottom: $medium-space;

		&:before {
			position: absolute;
			margin-left: -2em;
			margin-top: 1px;
			font-family: FontAwesome;
			color: $medium-gray;
		}

		&.woocommerce-MyAccount-navigation-link--dashboard:before {
			content: '\f0e4';
		}

		&.woocommerce-MyAccount-navigation-link--orders:before {
			content: '\f00b';
		}

		&.woocommerce-MyAccount-navigation-link--downloads:before {
			content: '\f019';
		}

		&.woocommerce-MyAccount-navigation-link--edit-address:before {
			content: '\f2b9';
		}

		&.woocommerce-MyAccount-navigation-link--edit-account:before {
			content: '\f085';
		}

		&.woocommerce-MyAccount-navigation-link--customer-logout:before {
			content: '\f08b';
		}
	}
}

.woocommerce-MyAccount-content a.edit {
	margin-top: $small-space;
}

// 7. Widgets
// ----------

.woocommerce .widget_price_filter {

	.ui-slider .ui-slider-range {
		background-color: $medium-gray;
	}

	.ui-slider .ui-slider-handle {
		background-color: $primary-color;
	}

	.price_slider_wrapper .ui-widget-content {
		background-color: $light-gray;
	}

	.price_slider_amount .button {
		display: block;
		margin-bottom: 0.5rem;
		padding: .618em $medium-space;

		@include breakpoint(medium only) {
			& {
				float: none;
			}
		}
	}

	@include breakpoint(medium only) {
		.price_label {
			text-align: left;
		}
	}
}

.woocommerce .product_list_widget ins {
	text-decoration: none;
}