// Table of contents
// -----------------
// 1. General
	// 1.1. Buttons
	// 1.2. Messages
	// 1.3. Misc
// 2. Top stripe
// 3. Shopping cart
	// 3.1. Header cart
	// 3.2. Widget cart
	// 3.3. Cart & checkout
	// 3.4. Misc
// 4. Product search
// 5. Product archive
	// 5.1. Grid
	// 5.2. Product item
	// 5.3. Pagination
// 6. Single product
	// 6.1. Summary
	// 6.2. Tabs
	// 6.3. Reviews
	// 6.4. Misc
// 7. My account
// 8. Widgets

// 1. General
// ----------

// 1.1. Buttons
// ------------

.woocommerce a.button,
.woocommerce input.button,
.woocommerce #respond input#submit,
.woocommerce .cart .button,
.woocommerce .cart input.button,
.woocommerce div.product form.cart .button,
.woocommerce input#place_order.button,
.woocommerce nav.woocommerce-pagination ul li span,
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce .widget_price_filter .price_slider_amount .button,
#page .woocommerce button.button,
.btn {
	@include button;
	font-weight: $global-weight-normal;
}

.woocommerce .button.hollow {
	background: none;
	color: $button-background;
	border-color: $button-background;

	&:hover {
		background: none;
		color: $button-background-hover;
		border-color: $button-background-hover;
	}
}

.inverse .btn {
	text-decoration: none;
}

.woocommerce a.button.alt {
	background-color: $button-background;

	&:hover {
		background-color: $button-background-hover;
	}
}

.woocommerce #respond input#submit.disabled,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit[disabled]:disabled,
.woocommerce a.button.disabled, .woocommerce a.button:disabled,
.woocommerce a.button[disabled]:disabled,
.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button[disabled]:disabled,
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button[disabled]:disabled {
	padding: $button-padding;
}

// 1.2. Messages
// -------------

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
	background-color: scale-color($light-gray, $lightness: 50%);
}

.woocommerce-info {
	border-top-color: $primary-color;

	&::before {
		color: $primary-color;
	}
}

.woocommerce-error {
	border-top-color: $alert-color;

	&::before {
		color: $alert-color;
	}
}

.woocommerce .woocommerce-message {
	border-color: $success-color;

	@include breakpoint(medium up) {
		line-height: 2.5;
	}

	&::before {
		color: $success-color;
	}

	a.button {
		background-color: $success-color;
		margin-bottom: 0;

		&:hover {
			background-color: scale-color($success-color, $lightness: $button-background-hover-lightness);
		}

		@include breakpoint(small only) {
			margin-right: -1rem;
		}

		.wc-forward {
			background-color: $success-color;

			&:hover {
				background-color: scale-color($success-color, $lightness: -14%);
			}
		}
	}
}

// 1.3. Misc
// ---------

.star-rating,
.woocommerce p.stars a {
	color: $warning-color;
}

#page .woocommerce table {
	border-radius: $global-radius;
}

.woocommerce #page select {
	padding-top: 0.35rem;
}

.woocommerce form .form-row textarea {
	box-shadow: $input-shadow;
}

.woocommerce .woocommerce-breadcrumb,
.woocommerce .woocommerce-breadcrumb a {
	color: $dark-gray;
}

.woocommerce .woocommerce-breadcrumb a:hover {
	color: $anchor-color-hover;
}

.woocommerce .woocommerce-form-login input.button {
	margin-bottom: 0;
	margin-right: 1em;
}

.entry-content .woocommerce {
	h1,	h2,	h3,	h4,	h5,	h6 {
		margin-top: 0;
	}
}

// 2. Top stripe
// -------------

.top-stripe {
	padding: 2px 0;
	background-color: $primary-color;

	@include breakpoint(small only) {
		font-size: rem-calc(14);
	}

	& .inverse,
	& .inverse .menu > li > a {
		color: rgba($white, 0.8);
	}

	& .inverse .menu > li > a:hover {
		color: rgba($white, 0.6);
	}

	.menu > li.first > a {
		padding-left: 0;
	}

	.menu > li.last > a {
		padding-right: 0;
	}

	.menu i {
		margin-right: 0.75em;
	}

	.menu.is-dropdown-submenu {
		margin-top: 2px;
		text-align: left;
		z-index: 3;

		i {
			width: 1.25em;
			margin-right: 0.5em;
			color: $medium-gray;
		}
	}

	& .inverse .is-dropdown-submenu,
	& .inverse .is-dropdown-submenu.menu > li > a {
		color: $body-font-color;
	}

	& .inverse .is-dropdown-submenu.menu > li > a:hover {
		color: $anchor-color-hover;
	}

	.is-dropdown-submenu-parent a::after {
		top: 55%;
	}

	& .inverse .is-dropdown-submenu-parent a::after {
		opacity: 0.75;
	}

	.dropdown-pane {
		top: 41px !important;
		padding-left: 0;
		padding-right: 0;
		border-radius: 0;

		ul.menu > li > a {
			color: $body-font-color;

			&:hover {
				color: $anchor-color-hover;
			}

			i {
				width: 1.25em;
				margin-right: 0.5em;
				color: $medium-gray;
			}
		}

		@include breakpoint(small only) {
			top: 39px !important;
			width: 100%;
			left: 0 !important;
			border: 0;
			border-bottom: 1px solid $light-gray;
		}
	}

	.menu > li.dropdown-toggle > a {
		position: relative;
		padding-right: $dropdownmenu-arrow-padding;
	}

	.menu > li.dropdown-toggle > a::after {
		display: block;
		width: 0;
		height: 0;
		border: inset 5px;
		content: '';
		border-bottom-width: 0;
		border-top-style: solid;
		border-color: $white transparent transparent;
		right: 5px;
		left: auto;
		margin-top: -2.5px;
		opacity: 0.75;
		position: absolute;
    	top: 55%;
	}

	.account-menu {
		float: right;
	}

	.button,
	.btn {
		margin-bottom: 0.75rem;
	}

	.button:last-of-type,
	.btn:last-of-type,
	.buttons {
		margin-bottom: 0;
	}

	#account-dropdown {
		padding-top: 0.25rem;
		padding-bottom: 0.25rem;

		@include breakpoint(medium up) {
			width: 180px;
		}
	}
}

// 3. Shopping cart
// ----------------

// 3.1. Header cart
// ----------------

.top-stripe {

	.widget_shopping_cart {
		margin-bottom: 0;
		padding-left: 1rem;
		padding-right: 1rem;
		background: $white;
		border-top: 0;

		.woocommerce-mini-cart__empty-message {
			margin-bottom: 0;
		}
	}

	@include breakpoint(small only) {
		.menu > li.cart > a {
			padding-left: 0;
		}
	}

	.cart .amount {
		font-weight: $global-weight-bold;

		@include breakpoint(medium up) {
			margin-right: 0.5em;
		}
	}

	@include breakpoint(small only) {
		.is-dropdown-submenu {
			position: fixed;
			width: 100%;
			top: 36px !important;
			border: 0;
			border-bottom: 1px solid $light-gray;
		}
	}
}

// 3.2. Widget cart
// ----------------

.woocommerce.widget_shopping_cart {

	.total {
		border-top: 0;
	}

	.cart_list li {
		margin-bottom: 0.5rem;
	}

	li.empty {
		margin-bottom: 0;
		border-bottom: 0;
	}

	.button {
		width: 100%;
	}

	.btn {
		display: block;
		width: 100%;
		color: $white;
	}
}

.woocommerce ul.cart_list,
.woocommerce ul.product_list_widget {

	li dl dd,
	li dl dt {
		margin-bottom: 0;
	}
}

// 3.3. Cart & checkout
// --------------------

.woocommerce input#coupon_code {
	margin-right: 0.5em;
}

.woocommerce .checkout_coupon input.button {
	margin-bottom: 0;
}

#page .woocommerce .button:disabled,
#page .woocommerce .button[disabled]:disabled {
	color: $white;

	&:hover {
		background-color: $button-background-hover;
	}
}

.woocommerce table.cart td.actions {
	padding-top: 1rem;
	padding-bottom: 0;
}

.woocommerce table.shop_table {
	border-spacing: 0;

	tbody {
		border-color: inherit;
	}

	th,
	td {
		padding: 1rem 0.75rem;
	}
}

@include breakpoint(small only) {
	.woocommerce .woocommerce-message a.button {
		display: block;
		float: none;
		margin-bottom: 1rem;
	}

	.woocommerce ul.order_details li {
		float: none;
		margin-bottom: 1rem;
		border-right: 0px;
	}
}

.woocommerce #content table.cart td.actions .input-text,
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
	width: 106px;
}

.woocommerce form .form-row {

	&.woocommerce-invalid {

		label {
			color: $alert-color;
		}

		.select2-container,
		input.input-text,
		select {
			border-color: $alert-color;
		}
	}

	&.woocommerce-validated {

		.select2-container,
		input.input-text,
		select {
			border-color: $success-color;
		}
	}
}

#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
	background-color: $light-gray;
	border-radius: $global-radius;

	div.payment_box {
		background-color: $medium-gray;

		&::before {
			border-bottom-color: $medium-gray;
		}
	}

	ul.payment_methods {
		border-color: $medium-gray;
	}
}

.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order {
	margin-bottom: 0;
}

.woocommerce table.cart .product-quantity .quantity {
	display: inline-block;
}

.select2-container .select2-selection--single {
	height: 39px;
	line-height: 20px;
}

.select2-container--default .select2-selection--single {
	border: $input-border;
	border-radius: $global-radius;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: $body-font-color;
	line-height: 38px;
	box-shadow: $input-shadow;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 36px;
}

.select2-search--dropdown .select2-search__field {
	margin-top: 0.5em;
}

#customer_details {
	margin-bottom: 1rem;
}

#add_payment_method #payment div.payment_box,
.woocommerce-cart #payment div.payment_box,
.woocommerce-checkout #payment div.payment_box {
	border-radius: $global-radius;
}

.woocommerce ul.order_details {
	margin-bottom: 2rem;

	li {
		margin-bottom: 1rem;

		@include breakpoint(small only) {
			float: none;
			border-right: 0;
		}
	}
}

.woocommerce .woocommerce-customer-details address {
	padding: 0.5rem 1rem;
	border-radius: $global-radius;
	border: 1px solid $light-gray;
}

// 3.4. Misc
// ---------

.woocommerce a.remove {
	color: $dark-gray !important;

	&:hover {
		background: none;
		color: $alert-color !important;
	}
}

.inverse .widget ul li a.remove:hover {
	text-decoration: none;
}

// 4. Product search
// -----------------

.product-search {
	position: absolute;
	display: none;
	width: 100%;
	margin-top: 2px;
	background-color: scale-color($black, $lightness: 5%);
	z-index: 2;

	&,
	input[type="search"],
	.close {
		height: 86px;

		@include breakpoint(small only) {
			height: 56px;
		}
	}

	input[type="search"] {
		width: 100%;
		margin-bottom: 0;
		padding-left: 0;
		background: none;
		border: 0;
		box-shadow: none;
		color: $light-gray;
		font-size: 1.25em;

		@include breakpoint(small only) {
			font-size: 1em;
		}

		&:focus {
			box-shadow: none;
		}
	}

	button[type="submit"] {
		display: none;
	}

	.close {
		position: relative;

		i {
			@include vertical-center;
			@include transition;
			color: $medium-gray;
			right: 0;

			&:hover {
				color: $dark-gray;
			}
		}
	}
}

// 5. Product archive
// ------------------

// 5.1. Grid
// ---------

@media (min-width: 769px) {
	.woocommerce ul.products.columns-4 li.product,
	.woocommerce-page ul.products.columns-4 li.product {
		width: 22.15%;
	}
}

.woocommerce select.orderby {
	font-size: 1rem;
	padding: 0 0.5rem 0.5rem;
	padding-right: 1rem;
	background-position: center right -6px;
}

// 5.2. Product item
// -----------------

.woocommerce ul.products li.product,
.woocommerce .products .product {

	h3 {
		padding-bottom: 0;
		color: $body-font-color;
		font-weight: $global-weight-bold;
	}

	.price {
		color: $body-font-color;
		font-size: 1.125em;

		del {
			display: inline-block;
			margin-right: 0.25em;
		}

		ins {
			font-weight: inherit;
			text-decoration: none;
		}
	}

	.button {
		margin-top: 0;
		font-size: 0.867rem;
	}

	.star-rating {
		position: absolute;
		margin-top: -5rem;
		margin-left: 1rem;
	}

	.onsale {
		margin: 0.75rem;
	}
}

.woocommerce span.onsale {
	top: 1rem;
	left: 1rem;
	min-height: 2.4em;
	padding: 0 1em;
	background-color: rgba(255,174,0,0.75);
	border-radius: $global-radius;
	line-height: 2.4;
}

// 5.3 Pagination
// --------------

.woocommerce nav.woocommerce-pagination {
	margin-top: -1rem;
	margin-bottom: 1rem;

	ul li span.current {
		background-color: $medium-gray;
	}

	ul,
	ul li {
		border: 0;
	}

	ul li span,
	ul li a {
		margin: 0 0.5em;
	}
}

// 6. Single product
// -----------------

// 6.1. Summary
// ------------

.woocommerce div.product {

	div.images .flex-control-thumbs li {
		margin: 1rem 3% 0 0;
		width: 22%;
	}

	.woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n) {
		margin-right: 0;
	}

	.product_title {
		margin-bottom: 0.25em;
	}

	.woocommerce-product-rating {
		margin-bottom: 1em;
	}

	.summary p.price,
	.summary span.price {
		color: $body-font-color;

		@include breakpoint(medium up) {
			.amount {
				font-size: 1.5em;
			}
		}

		ins {
			text-decoration: none;
			font-weight: inherit;
		}

		del {
			margin-right: 0.5em;
		}
	}

	form.cart {
		margin-top: 2rem;
		margin-bottom: 1rem;

		.group_table {

			tbody {
				border: 0;
			}

			tr:nth-child(2n) {
				background: none;
			}

			td {
				vertical-align: middle;
			}
		}

		div.quantity {
			margin-right: 1rem;

			input {
				margin-bottom: 0;
			}
		}

		.variations {

			tbody {
				border: 0;

				tr:nth-child(2n) {
					background: none;
				}

				td {
					padding: 0;
					vertical-align: middle;
				}

				select {
					margin-top: 0.5em;
					margin-bottom: 0.5em;
				}
			}

			select {
				width: auto;
				min-width: auto;
				margin-bottom: 0;
			}
		}

		.woocommerce-variation-price {
			margin-bottom: 1.5em;
		}

		.button {
			text-transform: uppercase;
		}
	}

	.product_meta {
		color: $dark-gray;

		a {
			color: $dark-gray;

			&:hover {
				color: $anchor-color-hover;
			}
		}

		& > span {
			display: block;
			margin-bottom: 0.5em;
		}
	}
}

// 6.2. Tabs
// ---------

.woocommerce div.product .woocommerce-tabs {

	@include breakpoint(medium up) {
		margin-bottom: 4em;
	}

	ul.tabs {
		padding-left: 0;
		border: 0;

		&::before {
			border-color: $light-gray;
		}

		li {
			margin: 0;
			padding: 0 2em;
			background: none;
			border: 0;

			&::before,
			&::after {
				border: 0;
				box-shadow: none;
				bottom: 3px;
			}

			&.active {
				background: none;
				border-bottom: 3px solid $primary-color;
			}

			a {
				padding: 0 0 1.25em;
			}
		}
	}

	h2 {
		margin-bottom: 1em;

		@include breakpoint(medium up) {
			font-size: 1.5em;
		}
	}
}

// 6.3. Reviews
// ------------

.woocommerce #reviews {
	max-width: 800px;

	h3 {
		margin-bottom: 0.5em;
	}

	#comment {
		height: 8rem;
	}

	#comments ol.commentlist li {

		img.avatar {
			width: 48px;
			padding: 0;
			border: 0;
			border-radius: 50%;
		}

		.comment-text {
			margin-left: 64px;
			border: 0;
			padding: 0;

			p.meta {
				margin-top: -5px;
				margin-bottom: 0.25rem;
				font-size: 1rem;
			}
		}
	}

	#review_form_wrapper {
		border-top: 1px dashed $light-gray;

		@include breakpoint(medium up) {
			.comment-form-author,
			.comment-form-email {
				width: 48.7%;
				display: inline-block;
			}

			#review_form {
				padding-top: 2rem;

				#respond p.comment-form-author {
					margin-right: 2%;
				}

				.form-submit {
					clear: both;
				}
			}
		}
	}
}

// 6.4. Misc
// ---------

@include breakpoint(medium up) {
	.single-product #primary,
	.single-product #secondary { margin-top: 1rem; }
}

// 7. My account
// -------------

.woocommerce-form-login {
	max-width: 585px;
}

.woocommerce-account #reg_password,
.woocommerce-account #password {
	margin-bottom: 0.75rem;
}

.woocommerce-account #page .woocommerce button.button {
	margin-bottom: 0;
	margin-right: 0.5rem;
}

.woocommerce-MyAccount-navigation ul {
	@include menu-direction(vertical);
	margin-left: 0;
	padding-left: 2em;
	list-style: none;

	li.woocommerce-MyAccount-navigation-link {
		margin-bottom: 1em;

		&:before {
			position: absolute;
			margin-left: -2em;
			margin-top: 1px;
			font-family: "Font Awesome 5 Free";
			font-weight: 900;
			color: $medium-gray;
		}

		&.woocommerce-MyAccount-navigation-link--dashboard:before 		{ content: '\f3fd'; }
		&.woocommerce-MyAccount-navigation-link--orders:before			{ content: '\f00b'; }
		&.woocommerce-MyAccount-navigation-link--downloads:before		{ content: '\f019'; }
		&.woocommerce-MyAccount-navigation-link--edit-address:before	{ content: '\f2b9'; }
		&.woocommerce-MyAccount-navigation-link--edit-account:before	{ content: '\f085'; }
		&.woocommerce-MyAccount-navigation-link--customer-logout:before { content: '\f2f5'; }
	}
}

.woocommerce-MyAccount-content a.edit {
	margin-top: 0.5em;
}

// 8. Widgets
// ----------

.woocommerce .widget_price_filter {

	.ui-slider .ui-slider-range {
		background-color: $medium-gray;
	}

	.ui-slider .ui-slider-handle {
		background-color: $primary-color;
	}

	.price_slider_wrapper .ui-widget-content {
		background-color: $light-gray;
	}

	.price_slider_amount .button {
		display: block;
		margin-bottom: 0.5rem;
		padding: .618em 1em;
		float: none;
		width: 100%;
		margin-top: 2rem !important;
	}

	.price_label {
		text-align: left;
		position: absolute;
		margin-top: -6rem;
		line-height: inherit;
	}
}

.woocommerce .product_list_widget ins {
	text-decoration: none;
}
